{% extends "layouts/main.html" %}


{% block pageTitle %}
Search results – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check previous Cold Weather Payment data</h1>
  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l govuk-!-margin-bottom-3">Results for <strong>Heathrow </strong> for <strong>9 December 2023
        to 15 December 2023</strong>.</p>

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a>
      and start again.</p>

    <h2 class="govuk-heading-l" id="overview">Overview</h2>

    <div class="card--wrapper govuk-!-padding-bottom-6">

      <div class="card">
        <div class="card__inner">
          <h2>Trigger days</h2>
          <p class="card__visual">2</p>
          <p><a href="#breakdown" class="govuk-link">View data by trigger day</a></p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Cold weather periods</h2>
          <p class="card__visual">2</p>
          <p>1 forecasted, 1 recorded</p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated payments to citizens (except UC)</h2>
          <p class="card__visual">32,800</p>
          <p>[some explanation]</p>

        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated total amount paid to citizens (except UC)</h2>
          <p class="card__visual">£820,000</p>

        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Postcodes affected</h2>
          <p class="card__visual">278</p>
          <p><a href="{{listPostcodes}}" class="govuk-link">View list</a></p>
        </div>
      </div>


    </div>

    <h2 class="govuk-heading-l govuk-!-padding-top-6" id="breakdown">Data by trigger day</h2>

    <p class="govuk-body">Estimated payments to citizens (except UC) per trigger day: <strong>16,400</strong>
    </p>

    <p class="govuk-body">
      Estimated total amount paid to citizens (except UC) per trigger day: <strong>£410,000</strong>
    </p>

    <table class="govuk-table ">
            <!-- <caption class="govuk-table__caption govuk-table__caption--l" id="breakdown">Data by trigger day</caption> -->

            <thead class="govuk-table__head">


              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Trigger day</th>
                <th scope="col" class="govuk-table__header">Cold weather period and trigger type</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Saturday 10 December 2022</td>
                <td class="govuk-table__cell">10 Dec 2022 to 16 Dec 2022 (forecasted)</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Friday 9 December 2022</td>
                <td class="govuk-table__cell">2 Dec 2022 to 8 Dec 2022 (recorded)</td>
              </tr>
            </tbody>
          </table>







  </div>
</div>





{% endblock %}