<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
About this service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include "includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}

{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      About this service
    </h1>

    <h2 class="govuk-heading-m">
      Overview
    </h2>

    <p class="govuk-body">Use this service to check Cold Weather Payment trigger data. You can view data from:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>today</li>
  <li>the previous week, every Thursday</li>
  <li>any previous day this season</li>
</ul>


    <p class="govuk-body">The Cold Weather Payment season runs annually from <strong>1 November to March 31.</strong> 
    </p>

    <p class="govuk-body">Citizens get a £25 payment every time the mean temperature at a weather station is recorded as, or forecast to be, zero degrees celsius or below over 7 consecutive days.</p>

    <p class="govuk-body"><a href="https://www.gov.uk/cold-weather-payment" target="blank" class="govuk-link">Read more about Cold Weather Payments on GOV.UK</a>. </p>


    <!-- <p class="govuk-body"><a href="#" class="govuk-link">View how citizens postcodes are linked to 72 weather stations across England and Wales.</a> </p> -->



    <h2 class="govuk-heading-m">
      Manage email subscriptions
    </h2>

    <p class="govuk-body">You can manage other users email subscriptions becuase you're an 'account administrator'.</p>

    <p class="govuk-body"><a href="{{changeEmails}}" class="govuk-link">Change who gets email updates about Cold Weather Payments and the type of updates they get</a></p>

    <p class="govuk-body govuk-!-font-size-16">Last updated 18 July 2023 - <a class="govuk-link" href="#">See all
          updates</a></p>

          











  </div>
</div>



{% endblock %}

{% block footer %}
{{ dwpFooter({
meta: {
visuallyHiddenTitle: "Meta links",
items: [
{
href: "/manage-prototype/clear-data",
text: "Clear prototype data"
},

{
href: "",
text: ""
},
{
href: "",
text: ""
}
]
}
}) }}
{% endblock %}
