{% extends "layouts/main.html" %}


{% block pageTitle %}
Manage this service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>



<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation"
  aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container nav-left ">
        <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{home}}">
        Home
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-2"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">
        Home
      </button>

    </li>
    <li class="app-navigation__list-item  ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{daily}}">
        Today
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
        Today
      </button>
    </li>
    <li class="app-navigation__list-item  ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{weekly}}">
        Thursday weekly summary
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
        Thursday weekly summary
      </button>
    </li>

    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{search}}">
        Search all data
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
        Search all data
      </button>

    </li>

  </ul>
</nav>

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="" method="post">
<!-- 
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Notification preferences updated successfully
    </h3>
    <p class="govuk-body"> Description of change</p>
  </div>
</div> -->


      <h1 class="govuk-heading-l">Manage your email subscriptions</h1>

      <p class="govuk-body">Subscriptions for <strong>first.last@engingeering.digital.dwp.gov.uk</strong></p>
      <p class="govuk-body"><a href="#" class="govuk-link">Change email address</a></p>

      <h2 class="govuk-heading-m">Trigger emails</h2>
      <p class="govuk-body"><a href="#" class="govuk-link">Unsubscribe</a></p>
      <p class="govuk-body">You can change your trigger email settings</p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trigger file
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> trigger file</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            No trigger notification
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> no trigger</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Weekly summary</h2>
      <p class="govuk-body"><a href="#" class="govuk-link">Unsubscribe</a></p>
      <p class="govuk-body">You can change your weekly summary email settings</p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trigger file
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> trigger file</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Additional qualifying days (AQD)</h2>
      <p class="govuk-body"><a href="#" class="govuk-link">Subscribe</a></p>
     

    </form>

  </div>
</div>



{% endblock %}

{% block footer %}
{{ dwpFooter({
meta: {
visuallyHiddenTitle: "Meta links",
items: [
{
  href: "/v8/manage/M4a-manage-notification-preferences",
  text: "Notification preferences"
  },

{
href: "",
text: ""
},
{
href: "",
text: ""
}
]
}
}) }}
{% endblock %}