//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-summary-card__title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}


.govuk-summary-card__title-details-box {
    padding: govuk-spacing(3);

    // Ensures the card header appears separate to the summary list in forced colours mode
    border-bottom: 1px solid transparent;
    font-size: 12px;


    @include govuk-media-query($from: "tablet") {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: govuk-spacing(3) govuk-spacing(4);
    }
}

// summary card actions

.govuk-summary-card__actions {
    @include govuk-font($size: 19, $weight: bold);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    margin: govuk-spacing(1) 0;
    padding: 0;
    list-style: none;

    @include govuk-media-query($from: "tablet") {
      -ms-flex-pack: right;
          justify-content: right;
      text-align: right;
    }
  }

  .govuk-summary-card__action {
    display: inline;
    margin: 0 govuk-spacing(2) 0 0;
    padding-right: govuk-spacing(2);
    border-right: 1px solid $govuk-border-colour;

    @include govuk-media-query($from: "tablet") {
      margin-right: 0;
    }

    // We use the following media query to target IE11 and 10 only to add margin
    // between actions.
    //
    // We do this because we're using row-gap to create space between actions on
    // more evergreen browsers which IE doesn't support. @supports currently isn't
    // a viable solution, see https://github.com/w3c/csswg-drafts/issues/3559.
    //
    // Solution taken from https://stackoverflow.com/questions/11173106/apply-style-only-on-ie#answer-36448860
    // which also includes an explanation of why this works
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-bottom: govuk-spacing(1);
    }
  }

  .govuk-summary-card__action:last-child {
    margin: 0;
    padding-right: 0;
    border-right: none;

    @include govuk-media-query($from: "tablet") {
      padding-left: govuk-spacing(2);
    }
}

    // more card formatting

.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

.card {
    max-width: 14rem;
    min-width: 14rem;
    border: 2px solid transparent;
    padding: 2rem;
    background: #efefef;
    font-family: sans-serif;
  }
  .card__inner {
    display: table;
  }
  .card__visual {
    display: table-header-group;
    font-size: 2rem;
    font-weight: 600;
  }
  .card h2, p {
    font-size: 1.2rem;
    margin: 0;
  }



  // NAV bar

  .app-navigation {
    border-bottom: 1px solid #b1b4b6;
    background-color: #f8f8f8
}

.app-navigation__list {
    margin: 0;
    padding: 0;
    list-style: none
}

@media(min-width: 40.0625em) {
    .app-navigation__list {
        position:relative;
        left: -15px
    }
}

.app-navigation__list-item {
    position: relative
}

@media(min-width: 40.0625em) {
    .app-navigation__list-item {
        font-family:"GDS Transport",arial,sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 16px;
        font-size: 1rem;
        line-height: 3.125;
        box-sizing: border-box;
        height: 50px;
        height: 3.125rem;
        padding: 0 15px;
        float: left
    }
}

@media print and (min-width: 40.0625em) {
    .app-navigation__list-item {
        font-family:sans-serif
    }
}

@media(min-width: 40.0625em)and (min-width: 40.0625em) {
    .app-navigation__list-item {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 2.6315789474
    }
}

@media print and (min-width: 40.0625em) {
    .app-navigation__list-item {
        font-size:14pt;
        line-height: 50px
    }
}

@media(min-width: 40.0625em) {
    .app-navigation__list-item--current {
        border-bottom:4px solid #1d70b8
    }
}

.app-navigation__link,.app-navigation__button {
    margin: 15px 0;
    padding: 0;
    font-weight: 700;
    font-size: 19px;
    font-size: 1.1875rem
}

.app-navigation__link:after,.app-navigation__button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.app-navigation__link:not([hidden]) {
    display: inline-block
}

@media(min-width: 40.0625em) {
    .app-navigation__link:not([hidden]) {
        display:inline
    }
}

.app-navigation__button {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1578em;
    border: 0;
    color: #1d70b8;
    background-color: rgba(0,0,0,0)
}

@media print {
    .app-navigation__button {
        font-family: sans-serif
    }
}

.app-navigation__button:hover {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.app-navigation__button:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.app-navigation__button:not(:hover):not(:active) {
    text-decoration: none
}

.app-navigation__button:link {
    color: #1d70b8
}

.app-navigation__button:visited {
    color: #1d70b8
}

.app-navigation__button:hover {
    color: #003078
}

.app-navigation__button:active {
    color: #0b0c0c
}

.app-navigation__button:focus {
    color: #0b0c0c
}

.app-navigation__subnav {
    margin: 0 -15px;
    padding: 10px 0;
    background-color: #fff;
    list-style: none
}

.js-enabled .app-navigation__subnav--active {
    display: block
}

@media(min-width: 40.0625em) {
    .app-navigation__subnav,.js-enabled .app-navigation__subnav--active {
        display:none
    }
}

.app-navigation__subnav-item {
    display: block;
    position: relative;
    padding: 15px
}

.app-navigation__subnav-item--current {
    padding-left: 16px;
    border-left: 4px solid #1d70b8
}

.app-navigation__theme {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0;
    padding: 20px 15px 5px;
    color: #505a5f;
    font-size: 19px;
    font-size: 1.1875rem;
    font-weight: normal
}

@media print {
    .app-navigation__theme {
        font-family: sans-serif
    }
}

.app-navigation__menu-button {
    top: auto;
    right: 5px;
    bottom: 25px
}

.nav-active {
    border-bottom-style: solid; 
    border-color: #1d70b8;
}

.nav-left {
    margin-left: 20px;
}



// Larger list

.govuk-list--bullet-l {
    padding-left: govuk-spacing(4);
    list-style-type: disc;
    font-size: 22px;


  }



  
  
  // navigation custom
  
  ul.navMain {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    color: #1d70b8;
  }
  
  li.navCustom {
    float: left;
  }
  
  li.navCustom a.navCustom {
    margin-right: 12px;
    margin-bottom: 12px;
    border: solid 1px #bfc1c3;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
  }
  
  
  li.navCustom a:hover {
    background-color: #ffdd00;
  }
  
  
  
  li.navCustom span.navCustom {
    margin-right: 12px;
    margin-bottom: 12px;
    border: solid 1px #bfc1c3;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
  }









  //sticky Div
.sticky-div-border { 
  background: white;
  border-bottom: 1px solid #b1b4b6;
    position: sticky; 
    top: 0px; 
    padding: 0px 0px; 
    z-index: 1;
} 

        .sticky-div { 
          background: white;
            position: sticky; 
            top: 0px; 
            padding: 0px 0px 0px; 
            z-index: 1;
            margin-bottom:0px;
        } 
          
        .start { 
            height: 100px; 
        } 
          
        .end { 
            height: 500px; 
        } 

        .title-spacing {
          display: block;
          position:relative;
          top:200px;
          visibility: hidden;
        }

        

        


        /* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
  .sticky-div {
    border-bottom: 1px solid #b1b4b6;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
  .js-enabled .List__section-header-nav {
    position: relative;
    //display: inline-block;
    padding-left: 10px;
    color: #1d70b8;
    cursor: pointer;;
  }
}


@media screen and (min-width: 1001px) {
  .js-enabled .List__section-header-nav {
    position: relative;
    display: block;
    padding-left: 10px;
    color: #1d70b8;
    cursor: pointer;
  }
}




  


