{% extends "layouts/main.html" %}


{% block pageTitle %}
Search previous data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container  nav-left">
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{daily}}">
          Today
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Today
          </button>
      </li>
      <li class="app-navigation__list-item  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{weekly}}">
          Thursday weekly summary
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            Thursday weekly summary
          </button>
      </li>

      <li class="app-navigation__list-item nav-active ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{search}}">
          Search all data
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            Search all data
          </button>

      </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Search previous data</h1>
  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l govuk-!-margin-bottom-3">Results for <strong>9 December 2022
      to 15 December 2022</strong> in <strong>Heathrow</strong>.</p>

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a>
      and start again.</p>

    <h2 class="govuk-heading-l" id="overview">Overview</h2>

    <p class="govuk-!-margin-bottom-3">You can also <a href="#breakdown" class="govuk-link">view data by trigger day</a></p>

    <div class="card--wrapper">

      <!-- <div class="card">
        <div class="card__inner">
          <h2>Trigger days</h2>
          <p class="card__visual">2</p>
          <p><a href="#breakdown" class="govuk-link">View data by trigger day</a></p>
        </div>
      </div> -->
      <div class="card">
        <div class="card__inner">
          <h2>Cold weather periods</h2>
          <p class="card__visual">2</p>
          <p>1 forecasted, 1 recorded</p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated payments to citizens (not including UC)</h2>
          <p class="card__visual">32,800</p>


        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated total amount paid to citizens (not including UC)</h2>
          <p class="card__visual">£820,000</p>

        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Postcode districts affected</h2>
          <p class="card__visual">278</p>
          <p><a href="{{listPostcodes}}" class="govuk-link">View list</a></p>
        </div>
      </div>


    </div>

   

    <h2 class="govuk-heading-l govuk-!-padding-top-6" id="breakdown">Data by trigger day</h2>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Saturday 10 December</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              16,400
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              £410,000
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">

              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <p class="govuk-body"> 10 Dec 2022 to 16 Dec 2022 (forecasted)</p>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Friday 9 December</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              16,400
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              £410,000
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">

              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              <p class="govuk-body"> 2 Dec 2022 to 8 Dec 2022 (recorded)</p>
            </dd>
          </div>
        </dl>       
      </div>
    </div>





  </div>
</div>





{% endblock %}