{% extends "layouts/main.html" %}


{% block pageTitle %}
Search previous data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation"
  aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container  nav-left">
    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{daily}}">
        Today
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
        Today
      </button>
    </li>
    <li class="app-navigation__list-item  ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{weekly}}">
        Thursday weekly summary
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
        Thursday weekly summary
      </button>
    </li>

    <li class="app-navigation__list-item nav-active">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{search}}">
        Search all data
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
        Search all data
      </button>

    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Payment data for citizens in CW12</h1>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a>
      and start again.</p>

    <h2 class="govuk-heading-m">Cold weather periods</h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Saturday 21 Jan 2023 to Friday 27 Jan 2023 (forecasted)
              <p class='govuk-body'>Additional qualifying days: 28 Jan to 29 Jan 2023</p>                 

            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class='govuk-body'>Benefit system scan dates:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Universal credit on the 21 Jan 2023</li>
            <li>Income Support Computer System (ISCS) and the Jobseeker's Allowence (JSA) on 27 Jan 2023</li>
            <li>Tax Credit System on the 1 Feb 2023</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              13 Jan 2023 to 19 Jan 2023 (forecasted)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class='govuk-body'>Benefit system scan dates:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Universal credit on </li>
            <li>Income Support Computer System (ISCS) and the Jobseeker's Allowence (JSA) on </li>
            <li>Tax Credit System on </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              3 Jan 2023 to 9 Jan 2023 (forecasted)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class='govuk-body'>Benefit system scan dates:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Universal credit on </li>
            <li>Income Support Computer System (ISCS) and the Jobseeker's Allowence (JSA) on </li>
            <li>Tax Credit System on </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              27 Dec 2022 to 2 Jan 2023 (recorded)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class='govuk-body'>Benefit system scan dates:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Universal credit on </li>
            <li>Income Support Computer System (ISCS) and the Jobseeker's Allowence (JSA) on </li>
            <li>Tax Credit System on </li>
          </ul>
        </div>
      </div>
    </div>
    

    <!-- <h2 class="govuk-heading-m">Cold weather periods</h2>
    <h3 class="govuk-heading-s">21 Jan 2023 to 27 Jan 2023 (forecasted)</h3>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Universal credit scan
        </dt>
        <dd class="govuk-summary-list__value">
          21 Jan 2023
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Income Support Computer System (ISCS) and the Jobseeker's Allowence (JSA) scan
        </dt>
        <dd class="govuk-summary-list__value">
          27 Jan 2023
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Tax Credit System scan
        </dt>
        <dd class="govuk-summary-list__value">
          1 Feb 2023
        </dd>

      </div>

    </dl> -->






    <!-- <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Cold weather periods</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Cold weather period</th>
          <th scope="col" class="govuk-table__header">Scan date</th>
          <th scope="col" class="govuk-table__header">Payment date</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">21 Jan 2023 to 27 Jan 2023 (forecasted)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">27 Jan</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1 Feb</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">13 Jan 2023 to 19 Jan 2023 (forecasted)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">20 Jan </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">25 Jan</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3 Jan 2023 to 9 Jan 2023 (forecasted)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">6 Jan</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">11 Jan</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">27 Dec 2022 to 2 Jan 2023 (recorded)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">6 Jan</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">11 Jan</td>
        </tr>


      </tbody>
    </table> -->

    <!-- <div class="govuk-summary-card__title-details-box ">
      <details class="govuk-details " data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            When are benefit systems scanned and citizens paid?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">A scan of the following systems will happen on 17 February 2023: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit </li>
            <li>the Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and
              Employment and Support Allowance (ESA) </li>
          </ul>
          <p class="govuk-body">These citizens should be paid 3 working days later, on 22 February 2023. </p>
          <p class="govuk-body">A scan of the Tax Credit System will happen on 22 February 2023. This scan finds
            citizens who have a disabled child but do not have this
            element included in their benefit claim. These citizens will be paid 3 working days later, on 27 February
            2023.
          </p>
        </div>
      </details>
    </div> -->





  </div>




  {% endblock %}