<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Check today's trigger data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include "v8/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}

{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check today's trigger data
      </h1>

      <p class="govuk-body-l govuk-!-margin-bottom-4">
        There are 2 types of triggers today (Tuesday 14 February 2023), recorded and forecasted.
      </p>

      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Trigger day: Tuesday 14 February 2023</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Estimated payments to citizens (not including UC)
              </dt>
              <dd class="govuk-summary-list__value">
                379,601
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated total amount paid to citizens (not including UC)
              </dt>
              <dd class="govuk-summary-list__value">
                £9,490,025 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-half">
                <p class="govuk-body">14 Feb 2023 to 20 Feb 2023 (forecasted)</p>
                <p class="govuk-body">7 Feb 2023 to 13 Feb 2023 (recorded)</p>
  
                
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Weather stations triggered
              </dt>
              <dd class="govuk-summary-list__value">
                  3
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{listStations}}">
                  View list<span class="govuk-visually-hidden"> of weather stations</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcode districts affected
              </dt>
              <dd class="govuk-summary-list__value">
                312
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{listPostcodes}}">
                  View list<span class="govuk-visually-hidden"> of postcodes</span>
                </a>
              </dd>
            </div>

          </dl>

          <div class="govuk-summary-card__title-details-box ">
            <details class="govuk-details " data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  When are benefit systems scanned and citizens paid?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">A scan of the following systems will happen on 17 February 2023: </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>the Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit </li>
                  <li>the Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and Employment and Support Allowance (ESA) </li>
                </ul>
                <p class="govuk-body">These citizens should be paid 3 working days later, on 22 February 2023. </p>
                <p class="govuk-body">A scan of the Tax Credit System will happen on 22 February 2023. This scan finds citizens who have a disabled child but do not have this 
                  element included in their benefit claim. These citizens will be paid 3 working days later, on 27 February 2023. 
                </p>
              </div>
            </details>
          </div>
          
        </div>
      </div>

    </div>
  </div>



{% endblock %}
