{% extends "layouts/main.html" %}


{% block pageTitle %}
  List weather stations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search results",
      href: "/v2/searchResultDateOnly#triggerDay"
    },
    {
      text: "Weather stations"
    }
  ]
}) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Weather stations triggered on Tuesday 14 February 2023
      </h1>

      <!-- <p class="govuk-body">View the triggered weather stations below or <a href="#" class="govuk-link">download the data</a> (CSV, 800 KB).</p> -->

      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Mona</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value">
                14 Feb 2023 to 20 Feb 2023 (forecasted)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                73
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                5,800
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcodes affected
              </dt>
              <dd class="govuk-summary-list__value">
                LL33, LL34, LL42, LL43, LL44, LL45, LL46, LL47, LL48, LL49,
                LL51,
                LL52,
                LL53,
                LL54,
                LL55,
                LL56,
                LL57,
                LL58,
                LL59,
                LL60,
                LL61,
                LL62,
                LL63,
                LL64,
                LL65,
                LL66,
                LL67,
                LL68,
                LL69,
                LL70,
                LL71,
                LL72,
                LL73,
                LL74,
                LL75,
                LL76,
                LL77,
                LL78
              </dd>
            </div>
          </dl> 
        </div>
      </div>
      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Rhyl</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value">
                14 Feb 2023 to 20 Feb 2023 (forecasted)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                79
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                4,100
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcodes affected
              </dt>
              <dd class="govuk-summary-list__value">
                LL15, LL16, LL17, LL18, LL19, 
                LL26,
                LL27,
                LL28,
                LL29,
                LL30,
                LL31,
                LL32,
              </dd>
            </div>
          </dl> 
        </div>
      </div>
     
    </div>
  </div>

{% endblock %}
