{% extends "layouts/main.html" %}


{% block pageTitle %}
Legacy payment scan summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Cold Weather Payment summary for this week's legacy payment scan</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l govuk-!-margin-bottom-3">There were Cold Weather Payment triggers between Friday 10 February and Thursday 16 February.</p>
    <p class="govuk-body govuk-!-margin-bottom-3">On Thursday 16 February, there will be a scan of the following legacy payment systems:
      <ul class="govuk-list govuk-list--bullet">
        <li>the Income Support Computer System (ISCS)</li>
        <li>the Jobseeker's Allowance Payment System (JSAPS)</li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">Data for the scan</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#overview">
            Overview
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#triggerDay">
            Data by trigger day
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="overview">

        <!-- <h2 class="govuk-heading-l">Totals</h2> -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <article class="moj-ticket-panel" aria-label="Sub navigation 1">
              <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">2</h2>
                <p class="govuk-body"><br>Trigger days </p>
              </section>
            </article>
          </div>
          <div class="govuk-grid-column-one-half">
            <article class="moj-ticket-panel" aria-label="Sub navigation 1">
              <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">2</h2>
                <p class="govuk-body">Cold weather periods <br> (1 forecasted, 1 recorded)</p>
              </section>
            </article>
          </div>
          <div class="govuk-grid-column-one-half">
            <article class="moj-ticket-panel" aria-label="Sub navigation 1">
              <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">32,800</h2>
                <p class="govuk-body">Estimated payments to citizens (except UC)</p>
              </section>
            </article>
          </div>
          <div class="govuk-grid-column-one-half">
            <article class="moj-ticket-panel" aria-label="Sub navigation 1">
              <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">£820,000</h2>
                <p class="govuk-body">Estimated total amount paid to citizens (except UC)</p>
              </section>
            </article>
          </div>
          <div class="govuk-grid-column-one-half">
            <article class="moj-ticket-panel" aria-label="Sub navigation 1">
              <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">3</h2>
                <p class="govuk-body">Weather stations triggered</p>
                <a href="{{listStations}}" class="govuk-link">View list</a>
              </section>
            </article>
          </div>
          <div class="govuk-grid-column-one-half">
            <article class="moj-ticket-panel" aria-label="Sub navigation 1">
              <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">56</h2>
                <p class="govuk-body">Postcodes affected</p>
                <a href="{{listPostcodes}}" class="govuk-link">View list</a>
              </section>
            </article>
          </div>
        </div>
      </div>






 <!-- View by TRIGGER DAY-->     


      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="triggerDay">
        <!--CARD 1-->
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Trigger day: Tuesday 14 February</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Estimated payments to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  22,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £550,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">
                  14 Feb 2023 to 20 Feb 2023 (forecasted)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather stations triggered
                </dt>
                <dd class="govuk-summary-list__value">
                    2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{stationListDay1}}">
                    View list<span class="govuk-visually-hidden"> of weather stations</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Postcodes affected
                </dt>
                <dd class="govuk-summary-list__value">
                  50
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{postcodeListDay1}}">
                    View list<span class="govuk-visually-hidden"> of postcodes</span>
                  </a>
                </dd>
              </div>
  
            </dl>
  
            <div class="govuk-summary-card__title-details-box ">
              {% include "v2/includes/scanDates1.html" %}
            </div>
            
          </div>
        </div>


        <!--CARD 2-->
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Trigger day: Monday 13 February</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Estimated payments to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  10,800
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £270,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">
                  6 February 2023 to 12 Feb 2023 (recorded)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather stations triggered
                </dt>
                <dd class="govuk-summary-list__value">
                  1
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{stationListDay2}}">
                    View list<span class="govuk-visually-hidden"> of weather stations</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Postcodes affected
                </dt>
                <dd class="govuk-summary-list__value">
                  6
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{postcodeListDay2}}">
                    View list<span class="govuk-visually-hidden"> of postcodes</span>
                  </a>
                </dd>
              </div>

            </dl>

            <div class="govuk-summary-card__title-details-box ">
              {% include "v2/includes/scanDates1.html" %}
            </div>

          </div>
        </div>
      </div>

    </div>

    <p class="govuk-body">Last updated on <strong>Thursday 16 February.</strong></p>
    <p class="govuk-body">This page will be updated every Thursday to show a summary of the previous week.</p>



  </div>
</div>





{% endblock %}

{% block footer %}
  {{ dwpFooter({
    meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "/v2/searchResultDateOnly",
      text: "Search result view"
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    }
    ]
    }
    }) }} 
{% endblock %}