{% extends "layouts/main.html" %}


{% block pageTitle %}
  Daily view – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check today's Cold Weather Payment trigger data
      </h1>

      <p class="govuk-body-l govuk-!-margin-bottom-4">
        There are 2 types of triggers today ({{trigDay1}}), recorded and forecasted.
      </p>

      <p class="govuk-body">You can also <a href="{{search}}" class="govuk-link">view all previous trigger data since 1 November 2022</a></p>

      {% include "v2/includes/viewDailyCardTwoTriggers.html" %}

    </div>
  </div>



{% endblock %}
