<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include version + "/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->



<!-- MAIN CONTENT -->
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if error%}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
          data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#journey-select">Select what you want to do</a>
              </li>
            </ul>
          </div>
        </div>
    {% endif %}


        <form class="form" action="" method="post">

          <div class="govuk-form-group  {%if error %} govuk-form-group--error {% endif %}">
            <fieldset class="govuk-fieldset" aria-describedby="journey-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Which previous Cold Weather Payment season do you want to find data for? 
                </h1>
              </legend>
              <div id="journey-hint" class="govuk-hint">
                The Cold Weather Payment season runs annually from 1 November to 31 March.
              </div>

              {% if error %}
              <span id="search-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select a season
              {% endif %}
              
              
              <!-- Option 1-->

              <!-- <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  [season year start]
                </legend>
                <div id="expiry-hint" class="govuk-hint">
                  For example, 2023
                </div>
                <div class="govuk-date-input" id="expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-year">
                        November
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  [season year end]
                </legend>
                <div id="expiry-hint" class="govuk-hint">
                  For example, 2024
                </div>
                <div class="govuk-date-input" id="expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-year">
                        March
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset> -->

              <!-- Option 2-->

              <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  [season year start]
                </legend>
                <div id="expiry-hint" class="govuk-hint">
                  For example, 2023
                </div>
                <div class="govuk-input__wrapper govuk-!-padding-bottom-5">
                  <div class="govuk-input__prefix" aria-hidden="true">November</div>
                  <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
                </div>
              </fieldset>

              <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  [season year end]
                </legend>
                <div id="expiry-hint" class="govuk-hint">
                  For example, 2024
                </div>
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">March</div>
                  <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
                </div>
              </fieldset>










            </fieldset>
          </div>

          <button class="govuk-button govuk-body" data-module="govuk-button">
            Continue
          </button>

          
          
    
            </form>


  </div>
</div>





{% endblock %}

{% block footer %}

{% include version + "/includes/footer.html" %}

{% endblock %}




