{% extends "layouts/main.html" %}


{% block pageTitle %}
  List postcodes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container nav-left ">
      <li class="app-navigation__list-item  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{daily}}">
          Today
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Today
          </button>
      </li>
      <li class="app-navigation__list-item nav-active  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{weekly}}">
          Thursday weekly summary
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            Thursday weekly summary
          </button>
      </li>

      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{search}}">
          Search all data
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            Search all data
          </button>

      </li>
  </ul>
</nav>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} 

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Postcodes triggered on Thursday 9 February 2023
      </h1>

      <p class="govuk-body">View the triggered postcodes below or <a href="https://dwpgovuk.sharepoint.com.mcas.ms/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B7780F0AA-43CD-4602-B62C-9A766576D492%7D&file=cwp-test.xlsx&action=default&mobileredirect=true" target="blank" class="govuk-link">download the data</a> (CSV, 800 KB).</p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Postcodes and corresponding weather stations
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Weather station</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH41</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH42</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH43</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH44</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH45</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH46</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH47</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH48</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH49</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH60</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH61</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH62</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH63</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH64</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH65</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CH66</th>
            <td class="govuk-table__cell">03 Crosby</td>
          </tr>

<!-- FY1,FY2,FY3,FY4,FY5,FY6,FY7,FY8,L1,L10,L11,L12,L13,L14,L15,L16,L17,L18,L19,L2,L20,L21,L22,L23,L24,L25,L26,L27,L28,L29,L3,L30,L31,L32,L33,L34,L35,L36,L37,L38,L39,L4,L40,L5,L6,L7,L8,L9,PR1,PR2,PR25,PR26,PR3,PR4,PR5,PR8,PR9 -->
          


        </tbody>
      </table>
     
    </div>
  </div>

{% endblock %}
