<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Check today's trigger data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include version + "/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}


{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      The [2023 to 2024] Cold Weather Payment season has ended
    </h1>

    <p class="govuk-body-l">
     There is no trigger data because the [2023 to 2024] Cold Weather Payment season has now ended.
    </p>
    <p class="govuk-body">
      You'll be able to start checking for trigger data from [1 November 2024], when the [2024 to 2025] season starts.
    </p>

    <h2 class="govuk-heading-m">View trigger data from previous days</h2>

    <p class="govuk-body">If you want to view previous trigger data from the [2023 to 2024] season, you can <a href="{{search}}" class="govuk-link">search all data</a>.</p>

  </div>
</div>



{% endblock %}
