<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Weather stations triggered between [DATE] and [DATE]  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include version + "/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}
{{ govukBackLink({
  text: "Back to the original trigger data",
  href: "javascript:window.history.back()"
}) }} 
{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds ">

      {% if listType === "weekly" %}

      <h1 class="govuk-heading-l ">
        Weather stations triggered between Friday 3 February and Thursday 9 February 2023
      </h1>

        {% if NI %}
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Katesbridge (Northern Ireland)</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Estimated payments to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  12,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £300,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">8 Feb 2023 to 14 Feb 2023 (forecasted) </p> 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather station code
                </dt>
                <dd class="govuk-summary-list__value">
                  12
                </dd>
              </div>
            </dl> 
            <div class="govuk-summary-card__title-details-box ">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show the 3 postcodes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  BT1, BT2, BT3
                </details>
            </div>
          </div>
        </div>

        {% else %}

        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Carlisle</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Number of triggers
                </dt>
                <dd class="govuk-summary-list__value">
                  2
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated payments to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  12,488
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £312,200
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">8 Feb 2023 to 14 Feb 2023 (forecasted) </p> 
                  <p class="govuk-body">30 Jan 2023 to 5 Feb 2023 (recorded)</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather station code
                </dt>
                <dd class="govuk-summary-list__value">
                  11
                </dd>
              </div>
  
            </dl> 
            <div class="govuk-summary-card__title-details-box ">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show the 10 postcodes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  CA1, CA2, CA3, CA4, CA5, CA6, CA7, CA8, DG12, DG16
                </details>
            </div>
          </div>
        </div>
       
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Crosby</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Number of triggers
                </dt>
                <dd class="govuk-summary-list__value">
                  1
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated payments to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  121,360
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £3,034,000 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  9 Feb 2023 to 15 Feb 2023 (forecasted)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather station code
                </dt>
                <dd class="govuk-summary-list__value">
                  03
                </dd>
              </div>
  
            </dl> 
            <div class="govuk-summary-card__title-details-box ">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show the 73 postcodes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  CH41, CH42, CH43, CH44, CH45, CH46, CH47, CH48, CH49, CH60, CH61, CH62, CH63, CH64, CH65, CH66, FY1, FY2, FY3, FY4, FY5, FY6, FY7, FY8, L1, L10, L11, L12, L13, L14, L15, L16, L17, L18, L19, L2, L20, L21, L22, L23, L24, L25, L26, L27, L28, L29, L3, L30, L31, L32, L33, L34, L35, L36, L37, L38, L39, L4, L40, L5, L6, L7, L8, L9, PR1, PR2, PR25, PR26, PR3, PR4, PR5, PR8, PR9
                </details>
            </div>
          </div>
        </div>
  
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Isle of Portland</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Number of triggers
                </dt>
                <dd class="govuk-summary-list__value">
                  1
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated payments to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  2,512
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (not including UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £62,800 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  30 Jan 2023 to 5 Feb 2023 (recorded)
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather station code
                </dt>
                <dd class="govuk-summary-list__value">
                  78
                </dd>
              </div>
            </dl> 
            <div class="govuk-summary-card__title-details-box ">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show the 3 postcodes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  DT3, DT4, DT5
                </details>
            </div>
          </div>
        </div>

        {% endif %}

  


      {% else %}

      <h1 class="govuk-heading-l ">
        To do
      </h1>

      {% endif %}



 
    </div>
  </div>

{% endblock %}

{% block footer %}

{% include version + "/includes/footer.html" %}

{% endblock %}
