{% extends "layouts/main.html" %}


{% block pageTitle %}
Search results – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container  nav-left">
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{daily}}">
          Today
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Today
          </button>
      </li>
      <li class="app-navigation__list-item  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{weekly}}">
          Thursday weekly summary
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            Thursday weekly summary
          </button>
      </li>

      <li class="app-navigation__list-item nav-active ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{search}}">
          Search all data
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            Search all data
          </button>

      </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check previous data</h1>
  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l govuk-!-margin-bottom-3">Results for <strong>Heathrow </strong> for <strong>9 December 2022
        to 15 December 2022</strong>.</p>

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a>
      and start again.</p>

    <h2 class="govuk-heading-l" id="overview">Overview</h2>

    <div class="card--wrapper">

      <div class="card">
        <div class="card__inner">
          <h2>Trigger days</h2>
          <p class="card__visual">2</p>
          <p><a href="#breakdown" class="govuk-link">View data by trigger day</a></p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Cold weather periods</h2>
          <p class="card__visual">2</p>
          <p>1 forecasted, 1 recorded</p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated payments to citizens (except UC)</h2>
          <p class="card__visual">32,800</p>


        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated total amount paid to citizens (except UC)</h2>
          <p class="card__visual">£820,000</p>

        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Postcode districts affected</h2>
          <p class="card__visual">278</p>
          <p><a href="{{listPostcodes}}" class="govuk-link">View list</a></p>
        </div>
      </div>


    </div>

   

    <h2 class="govuk-heading-l govuk-!-padding-top-6" id="breakdown">Data by trigger day</h2>

    <p class="govuk-body">For each cold weather period, the estimated:
      <ul class="govuk-list govuk-list--bullet">
        <li>number of payments to citizens (except UC) was 16,400</li>
        <li>total amount paid to citizens (except UC) was £410,00</li>
  
      </ul>
    </p>




    <table class="govuk-table ">
            <!-- <caption class="govuk-table__caption govuk-table__caption--l" id="breakdown">Data by trigger day</caption> -->

            <thead class="govuk-table__head">


              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Trigger day</th>
                <th scope="col" class="govuk-table__header">Cold weather period and trigger type</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Saturday 10 December 2022</td>
                <td class="govuk-table__cell">10 Dec 2022 to 16 Dec 2022 (forecasted)</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Friday 9 December 2022</td>
                <td class="govuk-table__cell">2 Dec 2022 to 8 Dec 2022 (recorded)</td>
              </tr>
            </tbody>
          </table>




  </div>
</div>





{% endblock %}