{% extends "layouts/main.html" %}


{% block pageTitle %}
Manage this service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation"
  aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container nav-left ">
    <li class="app-navigation__list-item  ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{today}}">
        Today
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
        Today
      </button>
    </li>
    <li class="app-navigation__list-item  ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{weekly}}">
        Thursday weekly summary
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
        Thursday weekly summary
      </button>
    </li>

    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{search}}">
        Search all data
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
        Search all data
      </button>

    </li>
    <!-- <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{manage}}">
        Manage this service
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-2"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">
        Manage this service
      </button>

    </li> -->
  </ul>
</nav>

<!-- {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }} -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="notifications-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which email notifications do you need to receive?
            </h1>
          </legend>
          <div id="notifications-hint" class="govuk-hint">
            Select all options that are relevant to your role.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="notifications" name="notifications" type="checkbox" value="no-trigger" aria-describedby="notifications-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="notifications">
                No trigger
              </label>
              <div id="notifications-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Get an email every day that there are no triggers.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="notifications-2" name="notifications" type="checkbox" value="trigger" aria-describedby="notifications-2-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="notifications-2">
                Trigger
              </label>
              <div id="notifications-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Get an email every day that there are triggers.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="notifications-3" name="notifications" type="checkbox" value="weekly" aria-describedby="notifications-3-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="notifications-3">
                Thursday weekly summary
              </label>
              <div id="notifications-3-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Get an email on Thursday if there were triggers the previous week.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="notifications-4" name="notifications" type="checkbox" value="aqd" aria-describedby="notifications-4-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="notifications-4">
                Additional qualifying days
              </label>
              <div id="notifications-4-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Get an email when additional qualifying days are recorded.
              </div>
            </div>

          </div>
        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Confirm
      </button>

    </form>

  </div>
</div>



{% endblock %}

{% block footer %}
{{ dwpFooter({
meta: {
visuallyHiddenTitle: "Meta links",
items: [
{
  href: "/v8/manage/M4a-manage-notification-preferences",
  text: "Notification preferences"
  },

{
href: "",
text: ""
},
{
href: "",
text: ""
}
]
}
}) }}
{% endblock %}