{% extends "layouts/main.html" %}


{% block pageTitle %}
Search previous data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container  nav-left">
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{daily}}">
          Today
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Today
          </button>
      </li>
      <li class="app-navigation__list-item  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{weekly}}">
          Thursday weekly summary
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            Thursday weekly summary
          </button>
      </li>

      <li class="app-navigation__list-item nav-active ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{search}}">
          Search all data
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            Search all data
          </button>

      </li>
  </ul>
</nav>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Search previous data</h1>

    <p class="govuk-body-l govuk-!-margin-bottom-3">Results for <strong>13 January 2023</strong>, in <strong>Keele</strong>.</p>

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a> and start again.</p>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Friday 13 January</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Number of triggers
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              30,603
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              £765,075
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">13 Jan 2023 to 19 Jan 2023 (forecasted) </p> 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather station code
            </dt>
            <dd class="govuk-summary-list__value">
              56
            </dd>
          </div>

        </dl> 
        <div class="govuk-summary-card__title-details-box ">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show the 23 postcodes
              </span>
            </summary>
            <div class="govuk-details__text">
              CW1, CW12, CW2, CW3, CW5, ST1, ST11, ST12, ST14, ST15, ST16, ST17, ST18, ST19, ST2, ST20, ST21, ST3, ST4, ST5, ST6, ST7, ST8
            </details>
        </div>
      </div>
    </div>


  </div>
</div>





{% endblock %}