{% extends "layouts/main.html" %}


{% block pageTitle %}
Search previous data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation"
  aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container  nav-left">
    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{daily}}">
        Today
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
        Today
      </button>
    </li>
    <li class="app-navigation__list-item  ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{weekly}}">
        Thursday weekly summary
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
        Thursday weekly summary
      </button>
    </li>

    <li class="app-navigation__list-item nav-active">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="{{search}}">
        Search all data
      </a>

      <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3"
        aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
        Search all data
      </button>

    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Search previous data</h1>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l govuk-!-margin-bottom-3">Results for <strong>1 January to 31 January 2023 </strong>in
      <strong>CW12 </strong>.</p>

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a>
      and start again.</p>

    <h2 class="govuk-heading-l" id="overview">Overview</h2>
    <div class="card--wrapper">

      <!-- <div class="card">
        <div class="card__inner">
          <h2>Trigger days</h2>
          <p class="card__visual">3</p>
          <p><a href="#breakdown" class="govuk-link">View data by trigger day</a></p>
        </div>
      </div> -->
      <div class="card">
        <div class="card__inner">
          <h2>Cold weather periods</h2>
          <p class="card__visual">4</p>
          <p>3 forecasted, 1 recorded</p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Amount citizen recieves</h2>
          <p class="card__visual">£100</p>
          <p>£25 per cold weather period</p>
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-l govuk-!-padding-top-6" id="breakdown">Data by trigger day</h2>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Tuesday 3 January</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <p class="govuk-body">There are 2 types of trigger, recorded and forecasted.</p>
        <p class="govuk-body">There are additional qualifying days (AQD) for the forecasted trigger. </p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">3 Jan 2023 to 9 Jan 2023 (forecasted)
                <strong class="govuk-tag">
                  AQD </strong>
              </p>

              <p class="govuk-body">27 Dec 2022 to 2 Jan 2023 (recorded)</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{aqd}}">
                View AQD
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather station
            </dt>
            <dd class="govuk-summary-list__value">
              Keele
            </dd>
            <dd class="govuk-summary-list__actions govuk-summary-list__row--no-actions">
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Friday 13 January</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">13 Jan 2023 to 19 Jan 2023 (forecasted)
              </p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather station
            </dt>
            <dd class="govuk-summary-list__value">
              Keele
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Saturday 21 January</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">21 Jan 2023 to 27 Jan 2023 (forecasted)
              </p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather station
            </dt>
            <dd class="govuk-summary-list__value">
              Keele
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>




  {% endblock %}