<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Search previous data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include "v8/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}

{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Search previous data</h1>

    <p class="govuk-body-l govuk-!-margin-bottom-3">Results for <strong>Tuesday 14 February 2023</strong>, everywhere in England, Northern Ireland and Wales.</p>

    <p class="govuk-body">You can <a href="{{search}}" class="govuk-link">clear your search</a> and start again.</p>

    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Tuesday 14 February</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <p class="govuk-body">There are 2 types of trigger, recorded and forecasted.</p>
        <p class="govuk-body">There are additional qualifying days (AQD) for the forecasted trigger. </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              22,000
            </dd>
            <dd class="govuk-summary-list__actions govuk-summary-list__row--no-actions">

          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              £550,000
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key ">
              Cold weather period and trigger type
            </dt>
            <dd class="govuk-summary-list__value ">
              <p class="govuk-body">14 Feb 2023 to 20 Feb 2023 (forecasted)              
                <strong class="govuk-tag">
                 AQD
               </strong>
              </p>
              <p class="govuk-body">7 Feb 2023 to 13 Feb 2023 (recorded)</p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{aqd}}"> 
                View AQD
              </a>
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather stations triggered
            </dt>
            <dd class="govuk-summary-list__value">
                3
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listStations}}">
                View list<span class="govuk-visually-hidden"> of weather stations</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode districts affected
            </dt>
            <dd class="govuk-summary-list__value">
              312
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listPostcodes}}">
                View list<span class="govuk-visually-hidden"> of postcodes</span>
              </a>
            </dd>
          </div>

        </dl>

        <div class="govuk-summary-card__title-details-box ">
          <details class="govuk-details " data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                When are benefit systems scanned and citizens paid?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">The following systems will be scanned on 17 February 2023:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit</li>
                <li>Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and Employment and Support Allowance (ESA)</li>
              </ul>
              <p class="govuk-body">These citizens should be paid 3 working days later on 22 February.</p>
              <p class="govuk-body">The Tax Credit System will be scanned on 22 February. This scan finds citizens who've got a 
                disabled child but do not have this element included in their benefit claim. These citizens will be paid 3 working days later on 27 February.
              </p>
            </div>
          </details>
        </div>
        
      </div>
    </div>
        




  </div>
</div>





{% endblock %}