
<details class="govuk-details " data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      When are benefit systems scanned and citizens paid?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">The following systems will be scanned on {{scanPeriodDates1}}:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit</li>
      <li>Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and Employment and Support Allowance (ESA)</li>
    </ul>
    <p class="govuk-body">These citizens should be paid 3 working days later on {{payPeriodDates1}}, unless they're eligible because they've got a child who is disabled.</p>
    <p class="govuk-body">Citizens who've got a child who is disabled should be paid on {{dlaPayDates1}}, 3 working days after a scan of the Child Tax Credit System on {{dlaScanDates1}}.
    </p>
  </div>
</details>
