<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Check today's trigger data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include version + "/includes/header-only.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}

{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if variation === "problem" %}

      <h1 class="govuk-heading-l">
        Sorry, there is a problem with the service
      </h1>

      <p class="govuk-body-l">
        Try again later.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Submit a TechNow ticket</a> if you need help.
      </p>

      {% elseif variation === "unavailable" %}

      <h1 class="govuk-heading-l">
        Sorry, the service is unavalible
      </h1>

      <p class="govuk-body-l">
        You will be able to use the service later.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Submit a TechNow ticket</a> if you need help.
      </p>

      {% else %}

      <h1 class="govuk-heading-l">
        Sorry, the service is unavalible
      </h1>

      <p class="govuk-body-l">
        You will be able to use the service after 11am on Monday 19 November 2018.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Submit a TechNow ticket</a> if you need help.
      </p>

      {% endif %}

    </div>
  </div>



{% endblock %}


{% block footer %}

{% include version + "/includes/footer.html" %}

{% endblock %}
