<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Summary of the latest weekly legacy payment scan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include version + "/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}

{% if NI %}
<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <a href="{{toggle}}" class="govuk-link">
        <span class="govuk-visually-hidden"></span>
        <span aria-hidden="true">England and Wales</span>
      </a>
    </li>
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">Northern Ireland</span>
    </li>

  </ul>
</nav>
{% else %}
<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">England and Wales</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="{{toggle}}" class="govuk-link">
        <span class="govuk-visually-hidden"></span>
        <span aria-hidden="true">Northern Ireland</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}

{% endblock %}



<!-- MAIN CONTENT -->
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Heading toggle -->
    {% if NI %}
    <h1 class="govuk-heading-l">
      Summary of the latest weekly legacy payment scan for Northern Ireland
    </h1>
    {% else %}
    <h1 class="govuk-heading-l">
      Summary of the latest weekly legacy payment scan for England and Wales
    </h1>
    {% endif %}

    <!-- W1 No triggers -->
    {% if weeklyVariation === "no trigger" %}
    <p class="govuk-body govuk-!-margin-bottom-3">There were no triggers between Friday 3 February 2023 and Thursday 9
      February 2023.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">This page was last updated on <strong>Thursday 9 February 2023.</strong> It'll be updated
        every Thursday to show a summary of the previous week.</p>
    </div>

    {% include version + "/includes/weekly-view-previous-triggers.html" %}

    <!-- W3 No triggers -->
    {% elseif weeklyVariation === "start of season" %}
    <p class="govuk-body govuk-!-margin-bottom-3">The weekly summary is not available yet because the Cold Weather Payment season has only just started. You'll be able to view the weekly summary on Thursday [DATE] November 2023. </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">This page will be updated every Thursday to show a summary of the previous week.</p>
    </div>

    {% include version + "/includes/weekly-view-previous-triggers.html" %}

    <!-- W2 With triggers -->
    {% else %}

    {% if NI %}
    <p class="govuk-body govuk-!-margin-bottom-3">There were Cold Weather Payment triggers between Friday 3 February
      2023 and Thursday 9 February 2023.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">This page was last updated on <strong>Thursday 9 February 2023.</strong> It'll be updated
        every Thursday to show a summary of the previous week.</p>
    </div>

    <h2 class="govuk-heading-m" id="overview">Overview for the week</h2>
    <p class="govuk-!-margin-bottom-3">You can also <a href="#data-by-trigger-day" class="govuk-link">view data by
        trigger day</a>.</p>

    <div class="card--wrapper">

      <div class="card">
        <div class="card__inner">
          <h2>Cold weather periods</h2>
          <p class="card__visual">1</p>
          <p>1 forecasted</p>
        </div>
      </div>

      <div class="card">
        <div class="card__inner">
          <h2>Estimated payments to citizens (not including UC)</h2>
          <p class="card__visual">12,000</p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated total amount paid to citizens (not including UC)</h2>
          <p class="card__visual">£300,000 </p>

        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Weather stations triggered</h2>
          <p class="card__visual">1</p>
          <p><a href="{{listStationsAll}}" class="govuk-link">View list</a><span class="govuk-visually-hidden"> of
              weather stations triggered</span></p>
        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Postcode districts affected</h2>
          <p class="card__visual">3</p>
          <p><a href="{{listPostcodesAll}}" class="govuk-link">View list</a><span class="govuk-visually-hidden"> of
              postcode districts affected</span></p>
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-m govuk-!-padding-top-6" id="data-by-trigger-day">Data by trigger day</h2>

    <p class="govuk-body">There was 1 trigger day between Friday 3 February 2023 and Thursday 9 February 2023.</p>


    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Wednesday 8 February 2023</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">12,000</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£300,000 </p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather periods and trigger type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              8 Feb 2023 to 14 Feb 2023 (forecasted)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather stations triggered
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listStations1}}">
                View list<span class="govuk-visually-hidden"> of weather stations triggered</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode districts affected
            </dt>
            <dd class="govuk-summary-list__value">
              3
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listPostcodes1}}">
                View list<span class="govuk-visually-hidden"> of postcode districts affected</span>
              </a>
            </dd>
          </div>

        </dl>

        {% include version + "/includes/weekly-payment-dates-9-feb.html" %}

      </div>
    </div>

    {% else %}


    <p class="govuk-body govuk-!-margin-bottom-3">There were Cold Weather Payment triggers between Friday 3 February
      2023 and Thursday 9 February 2023.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">This page was last updated on <strong>Thursday 9 February 2023.</strong> It'll be updated
        every Thursday to show a summary of the previous week.</p>
    </div>

    <h2 class="govuk-heading-m" id="overview">Overview for the week</h2>
    <p class="govuk-!-margin-bottom-3">You can also <a href="#data-by-trigger-day" class="govuk-link">view data by
        trigger day</a>.</p>

    <div class="card--wrapper">

      <div class="card">
        <div class="card__inner">
          <h2>Cold weather periods</h2>
          <p class="card__visual">3</p>
          <p>2 forecasted, 1 recorded</p>
        </div>
      </div>

      <div class="card">
        <div class="card__inner">
          <h2>Estimated payments to citizens (not including UC)</h2>
          <p class="card__visual">136,360</p>
        </div>
      </div>
      <div class="card">
        <div class="card__inner">
          <h2>Estimated total amount paid to citizens (not including UC)</h2>
          <p class="card__visual">£3,409,075 </p>

        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Weather stations triggered</h2>
          <p class="card__visual">3</p>
          <p><a href="{{listStationsAll}}" class="govuk-link">View list
              <span class="govuk-visually-hidden"> of weather stations triggered</span>
            </a></p>
        </div>
      </div>
      <div class="card ">
        <div class="card__inner">
          <h2>Postcode districts affected</h2>
          <p class="card__visual">86</p>
          <p><a href="{{listPostcodesAll}}" class="govuk-link">View list
              <span class="govuk-visually-hidden"> of postcode districts affected</span>
            </a></p>
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-m govuk-!-padding-top-6" id="data-by-trigger-day">Data by trigger day</h2>

    <p class="govuk-body">There were 3 trigger days between Friday 3 February 2023 and Thursday 9 February 2023.</p>

    <!-- CARD 1 -->
    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Thursday 9 February 2023</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              121,360
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">
              £3,034,000
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather periods and trigger type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              9 Feb 2023 to 15 Feb 2023 (forecasted)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather stations triggered
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listStations1}}">
                View list<span class="govuk-visually-hidden"> of weather stations triggered</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode districts affected
            </dt>
            <dd class="govuk-summary-list__value">
              73
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listPostcodes1}}">
                View list<span class="govuk-visually-hidden"> of postcode districts affected</span>
              </a>
            </dd>
          </div>

        </dl>

        {% include version + "/includes/weekly-payment-dates-9-feb.html" %}

      </div>
    </div>

    <!-- CARD 2 -->
    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Wednesday 8 February 2023</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">6,244</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">£156,100</p>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather periods and trigger type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              8 Feb 2023 to 14 Feb 2023 (forecasted)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather stations triggered
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listStations2}}">
                View list<span class="govuk-visually-hidden"> of weather stations triggered</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode districts affected
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listPostcodes2}}">
                View list<span class="govuk-visually-hidden"> of postcode districts affected</span>
              </a>
            </dd>
          </div>

        </dl>

        {% include version + "/includes/weekly-payment-dates-9-feb.html" %}

      </div>
    </div>
    
    <!-- CARD 3 -->
    <div class="govuk-summary-card ">
      <div class="govuk-summary-card__title-wrapper ">
        <h2 class="govuk-summary-card__title">Trigger day: Monday 6 February 2023</h2>
      </div>
      <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Estimated payments to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">8,756 </p>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Estimated total amount paid to citizens (not including UC)
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">£218,900</p>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Cold weather periods and trigger type
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              30 Jan 2023 to 5 Feb 2023 (recorded)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weather stations triggered
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listStations3}}">
                View list<span class="govuk-visually-hidden"> of weather stations triggered</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode districts affected
            </dt>
            <dd class="govuk-summary-list__value">
              13
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{listPostcodes3}}">
                View list<span class="govuk-visually-hidden"> of postcode districts affected</span>
              </a>
            </dd>
          </div>

        </dl>

        {% include version + "/includes/weekly-payment-dates-9-feb.html" %}

      </div>
    </div>






    {% endif %}

    {% endif %}






    {% endblock %}

    {% block footer %}

    {% include version + "/includes/footer.html" %}

    {% endblock %}