<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
[enter email address]] – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include version + "/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}
<!-- {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}  -->
{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">[check your emails]</h1>

    <p class="govuk-body">[a link to update your notificaion preferences has been sent to you]</p>


  </div>
</div>





{% endblock %}

{% block footer %}

{% include version + "/includes/footer-notifications.html" %}

{% endblock %}




