{% extends "layouts/main.html" %}


{% block pageTitle %}
  List weather stations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container nav-left ">
      <li class="app-navigation__list-item  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{daily}}">
          Today
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Today
          </button>
      </li>
      <li class="app-navigation__list-item  ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{weekly}}">
          Thursday weekly summary
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            Thursday weekly summary
          </button>
      </li>

      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{search}}">
          Search all data
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            Search all data
          </button>

      </li>
  </ul>
</nav>


{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} 




  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds ">

      <h1 class="govuk-heading-l ">
        Weather stations triggered on Monday 6 February 2023
      </h1>

      <!-- <p class="govuk-body">View the triggered weather stations below or <a href="#"  class="govuk-link">download the data</a> (CSV, 800 KB).</p> -->

      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Carlisle</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Estimated payments to citizens (not including UC)
              </dt>
              <dd class="govuk-summary-list__value">
                6,244
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated total amount paid to citizens (not including UC)
              </dt>
              <dd class="govuk-summary-list__value">
                £156,100 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value">
                30 Jan 2023 to 5 Feb 2023 (recorded)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                11
              </dd>
            </div>

          </dl> 
          <div class="govuk-summary-card__title-details-box ">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show 10 postcodes
                </span>
              </summary>
              <div class="govuk-details__text">
                CA1, CA2, CA3, CA4, CA5, CA6, CA7, CA8, DG12, DG16
              </details>
          </div>
        </div>
      </div>
    
      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Isle of Portland</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Estimated payments to citizens (not including UC)
              </dt>
              <dd class="govuk-summary-list__value">
                2,512
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated total amount paid to citizens (not including UC)
              </dt>
              <dd class="govuk-summary-list__value">
                £62,800 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key ">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value">
                30 Jan 2023 to 5 Feb 2023 (recorded)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                78
              </dd>
            </div>
          </dl> 
          <div class="govuk-summary-card__title-details-box ">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show 3 postcodes
                </span>
              </summary>
              <div class="govuk-details__text">
                DT3, DT4, DT5
              </details>
          </div>
        </div>
      </div>
     
   
    </div>
  </div>

{% endblock %}
