<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
Upload a file containing who should receive emails updates – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include "v8/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} 
{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="triggerSub-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            <h1 class="govuk-fieldset__heading">
              Upload a list of email addresses and subscription preferences
            </h1>

          </legend>

          <p class="govuk-body">You must upload a copy of the [filetype] downloaded from this service</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>


        </fieldset>
      </div>
      
      <button class="govuk-button" data-module="govuk-button">
        Upload
      </button>

      </form>


<!-- OPTION 2 -->
      <!-- <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Confirm amount</h1>
        <div class="govuk-inset-text">
        £30
        </div><button class="govuk-button" data-module="govuk-button">
        Use this ammount
        </button>
        <p class="govuk-body"><a href="#" class="govuk-link">Enter a different amount</a></p>
        </div>  -->

    </div>
  </div>



{% endblock %}

{% block footer %}
  {{ dwpFooter({
    meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear prototype data"
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    }
    ]
    }
    }) }} 
{% endblock %}
