{% extends "layouts/main.html" %}


{% block pageTitle %}
  previous-data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check previous Cold Weather Payment data</h1>
        <p class="govuk-body">You can also <a href="{{statusToday}}" class="govuk-link">see today's Cold Weather Payment data.</a></p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Cold weather period: {{titlePeriodDates1}}</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  Forecasted
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather stations triggered
                </dt>
                <dd class="govuk-summary-list__value">
                  2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{viewWeatherStations}}">
                    View list<span class="govuk-visually-hidden"> of weather stations</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Postcodes affected
                </dt>
                <dd class="govuk-summary-list__value">
                  10
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{viewPostcodes}}">
                    View list<span class="govuk-visually-hidden"> of postcodes</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated payments to citizens on JSA or ESA
                </dt>
                <dd class="govuk-summary-list__value">
                  10,800
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens on JSA or ESA
                </dt>
                <dd class="govuk-summary-list__value">
                  £270,000
                </dd>
              </div>
            </dl>
  
            <div class="govuk-summary-card__title-details-box ">
              {% include "v1/includes/scan-details1.html" %}
            </div>
            
          </div>
        </div>
  
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Cold weather period: {{titlePeriodDates2}}</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  Recorded
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather stations triggered
                </dt>
                <dd class="govuk-summary-list__value">
                  2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{viewWeatherStations}}">
                    View list<span class="govuk-visually-hidden"> of weather stations</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Postcodes affected
                </dt>
                <dd class="govuk-summary-list__value">
                  8
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{viewPostcodes}}">
                    View list<span class="govuk-visually-hidden"> of postcodes</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated payments to citizens on JSA or ESA
                </dt>
                <dd class="govuk-summary-list__value">
                  8,500
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens on JSA or ESA
                </dt>
                <dd class="govuk-summary-list__value">
                  £212,500
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            </dl>
  
            <div class="govuk-summary-card__title-details-box ">
              {% include "v1/includes/scan-details2.html" %}
            </div>
            
          </div>
        </div>

        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Cold weather period: {{titlePeriodDates3}}</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Trigger type
                </dt>
                <dd class="govuk-summary-list__value">
                  Recorded
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Weather stations triggered
                </dt>
                <dd class="govuk-summary-list__value">
                  2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{viewWeatherStations}}">
                    View list<span class="govuk-visually-hidden"> of weather stations</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Postcodes affected
                </dt>
                <dd class="govuk-summary-list__value">
                  8
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="{{viewPostcodes}}">
                    View list<span class="govuk-visually-hidden"> of postcodes</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated payments to citizens on JSA or ESA
                </dt>
                <dd class="govuk-summary-list__value">
                  8,500
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens on JSA or ESA
                </dt>
                <dd class="govuk-summary-list__value">
                  £212,500
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            </dl>
  
            <div class="govuk-summary-card__title-details-box ">
              {% include "v1/includes/scan-details3.html" %}
            </div>
            
          </div>
        </div>





      </div>





      <div class="govuk-grid-column-one-third">
        <div class="moj-filter">

          <div class="moj-filter__header">
        
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
        
            <div class="moj-filter__header-action">
        
            </div>
        
          </div>
        
          <div class="moj-filter__content">
        
            <div class="moj-filter__selected">
        
              <div class="moj-filter__selected-heading">
        
                <div class="moj-filter__heading-title">
                  <h2 class="govuk-heading-m">Selected filters</h2>
                </div>
        
                <div class="moj-filter__heading-action">
                  <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                </div>
        
              </div>
        
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Postcode</h3>
        
              <ul class="moj-filter-tags">
        
                <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span>BN5</a></li>
        
              </ul>
        
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Date range</h3>
        
              <ul class="moj-filter-tags">
        
                <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> 1 January 2023 to 28 February 2023</a></li>
        
              </ul>
        
            </div>
        
            <div class="moj-filter__options">
        
              <button class="govuk-button" data-module="govuk-button">
                Apply filters
              </button>
        
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="postcode">
                  Postcode or Weather station
                </label>
        
                <input class="govuk-input" id="postcode" name="postcode" type="text">
              </div>
    
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="date">
                  Date range
                </label>
        
                <input class="govuk-input" id="date" name="date" type="text">
              </div>
        
              <!-- <div class="govuk-form-group">
        
                <fieldset class="govuk-fieldset">
        
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
                    Type
        
                  </legend>
        
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="type">
                        Blue (18)
                      </label>
        
                    </div>
        
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="type-2">
                        Yellow (5)
                      </label>
        
                    </div>
        
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="type-3">
                        Red (2)
                      </label>
        
                    </div>
        
                  </div>
        
                </fieldset>
        
              </div>
        
              <div class="govuk-form-group">
        
                <fieldset class="govuk-fieldset">
        
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
                    Status
        
                  </legend>
        
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="status">
                        Completed (2)
                      </label>
        
                    </div>
        
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                      <label class="govuk-label govuk-checkboxes__label" for="status-2">
                        Incomplete (5)
                      </label>
        
                    </div>
        
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                      <label class="govuk-label govuk-checkboxes__label" for="status-3">
                        In progress (3)
                      </label>
        
                    </div>
        
                  </div>
        
                </fieldset>
        
              </div> -->
        
            </div>
        
          </div>
        
        </div>
        <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
   
  </div>
</div>


      </div>
    </div>
  




{% endblock %}
