{% extends "layouts/main.html" %}


{% block pageTitle %}
  view-list-weather-stations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check Cold Weather Payment weather station data
      </h1>

      <h2 class="govuk-heading-m">Weather stations triggered on {{notificationDate1}}</h2>

      <p class="govuk-body">View the triggered weather stations below or <a href="#" class="govuk-link">download the data</a> (CSV, 800 KB).</p>


      <h3 class="govuk-heading-s">Forecasted triggers</h3>
      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Bingley</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Cold weather periods
              </dt>
              <dd class="govuk-summary-list__value">
               14/02/2023 to 20/02/2023 Forecasted
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                59
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                5,800
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcode ranges affected
              </dt>
              <dd class="govuk-summary-list__value">
                BB10, BB11, BB12, BB18
              </dd>
            </div>
          </dl> 
        </div>
      </div>

     
      <h3 class="govuk-heading-s">Recorded triggers</h3>    
      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Westonbirt</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Cold weather periods
              </dt>
              <dd class="govuk-summary-list__value">
               7/02/2023 to 13/02/2023 Recorded
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                35
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                5,000
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcode ranges affected
              </dt>
              <dd class="govuk-summary-list__value">
                BA13, BA14, BA15
              </dd>
            </div>
          </dl> 
        </div>
      </div>

   

      <!-- <h3 class="govuk-heading-s">Weather stations in England</h3>

      <h3 class="govuk-heading-s">Weather stations in Wales</h3>

      <h3 class="govuk-heading-s">Weather stations in Northern Ireland</h3> -->


     
    </div>
  </div>

{% endblock %}
