{% extends "layouts/main.html" %}


{% block pageTitle %}
  status-today – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check today's Cold Weather Payment trigger data
      </h1>

      <p class="govuk-body-l govuk-!-margin-bottom-4">
        There are no triggers today (15 February 2023).
      </p>

      <p class="govuk-body">
        This is based on the MET Office temperature data.
      </p>

      <p class="govuk-body">You can <a href="{{previousData}}" class="govuk-link">view all previous trigger data since 1 November 2022</a></p>


      <h2 class="govuk-heading-m">The latest trigger was on Tuesday 14 February 2023</h2>

      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Trigger day: Tuesday 14 February 2023</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Cold weather period
              </dt>
              <dd class="govuk-summary-list__value">
                {{titlePeriodDates1}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Trigger type
              </dt>
              <dd class="govuk-summary-list__value">
                Forecasted
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Weather stations triggered
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{viewWeatherStations}}">
                  View list<span class="govuk-visually-hidden"> of weather stations</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcodes affected
              </dt>
              <dd class="govuk-summary-list__value">
                7
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{viewPostcodes}}">
                  View list<span class="govuk-visually-hidden"> of postcodes</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                10,800
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated total amount paid to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                £270,000
              </dd>
            </div>
          </dl>

          <div class="govuk-summary-card__title-details-box ">
            {% include "v1/includes/scan-details1.html" %}
          </div>
          
        </div>
      </div>



    </div>
  </div>



{% endblock %}
