{% extends "layouts/main.html" %}


{% block pageTitle %}
  view-list-postcodes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check Cold Weather Payment postcode data
      </h1>

      <h2 class="govuk-heading-m">Postcodes triggered on {{notificationDate1}}</h2>

      <p class="govuk-body">This is a forecasted trigger for the cold weather period between {{titlePeriodDates1}}.</p>

      <p class="govuk-body">View the triggered postcodes below or <a href="https://dwpgovuk.sharepoint.com.mcas.ms/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B7780F0AA-43CD-4602-B62C-9A766576D492%7D&file=cwp-test.xlsx&action=default&mobileredirect=true" target="blank" class="govuk-link">download the data</a> (CSV, 800 KB).</p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Postcodes and corresponding weather stations
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Weather station</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BB10</th>
            <td class="govuk-table__cell">59 Bingley</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BB11</th>
            <td class="govuk-table__cell">59 Bingley</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BB12</th>
            <td class="govuk-table__cell">59 Bingley</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BB18</th>
            <td class="govuk-table__cell">59 Bingley</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BA13</th>
            <td class="govuk-table__cell">35 Westonbirt</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BA14</th>
            <td class="govuk-table__cell">35 Westonbirt</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">BA15</th>
            <td class="govuk-table__cell">35 Westonbirt</td>
          </tr>

        </tbody>
      </table>
     
    </div>
  </div>

{% endblock %}
