<div class="govuk-summary-card__title-details-box ">
  <details class="govuk-details " data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        When are benefit systems scanned and citizens paid?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">A scan of the following systems will happen on 2 December 2023: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit </li>
        <li>the Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and Employment and Support Allowance (ESA) </li>
      </ul>
      <p class="govuk-body">These citizens should be paid 3 working days later, on 6 December 2023. </p>
      <p class="govuk-body">A scan of the Tax Credit System will happen on 9 December 2023. This scan finds citizens who have a disabled child but do not have this 
        element included in their benefit claim. These citizens will be paid 3 working days later, on 13 December 2023. 
      </p>
    </div>
  </details>
</div>