{% extends "layouts/main.html" %}


{% block pageTitle %}
  List postcodes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Search results",
      href: "/v2/searchResultDateOnly#triggerDay"
    },
    {
      text: "Postcodes"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Postcodes triggered on Tuesday 14 February 2023
      </h1>

      <!-- <p class="govuk-body">View the triggered postcodes below or <a href="https://dwpgovuk.sharepoint.com.mcas.ms/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B7780F0AA-43CD-4602-B62C-9A766576D492%7D&file=cwp-test.xlsx&action=default&mobileredirect=true" target="blank" class="govuk-link">download the data</a> (CSV, 800 KB).</p> -->

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Postcodes and corresponding weather stations
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Weather station</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL33</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL34</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>         
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL42</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL43</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL44</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL45</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL46</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL47</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL48</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL49</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL51</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL52</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL53</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL54</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL55</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL56</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL57</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL58</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL59</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL60</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL61</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL62</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL63</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL64</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL65</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL66</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL67</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL68</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL69</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL70</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL71</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL72</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL73</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL74</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL75</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL76</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL77</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL78</th>
            <td class="govuk-table__cell">73 Mona</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL15</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL16</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL17</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL18</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL19</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL26</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL27</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL28</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL29</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL30</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL31</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL32</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LL33</th>
            <td class="govuk-table__cell">79 Rhyl</td>
          </tr>
 

        </tbody>
      </table>
     
    </div>
  </div>

{% endblock %}
