{% extends "layouts/main.html" %}


{% block pageTitle %}
  List weather stations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search results",
      href: "/v2/searchResultDateOnly#triggerDay"
    },
    {
      text: "Weather stations"
    }
  ]
}) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Weather stations triggered on Tuesday 14 February 2023
      </h1>

      <!-- <p class="govuk-body">View the triggered weather stations below or <a href="#" class="govuk-link">download the data</a> (CSV, 800 KB).</p> -->

      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Bainbridge</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value">
                6 Feb 2023 to 12 Feb 2023 (recorded)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Weather station code
              </dt>
              <dd class="govuk-summary-list__value">
                90
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                5,000
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcodes affected
              </dt>
              <dd class="govuk-summary-list__value">
                BD23, BD24, DL8, DL11, DL12, DL13
              </dd>
            </div>
          </dl> 
        </div>
      </div>
     
    </div>
  </div>

{% endblock %}
