

      <div class="govuk-summary-card ">
        <div class="govuk-summary-card__title-wrapper ">
          <h2 class="govuk-summary-card__title">Trigger day: {{trigDay1}}</h2>
        </div>
        <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Estimated payments to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                10,800
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Estimated total amount paid to citizens (except UC)
              </dt>
              <dd class="govuk-summary-list__value">
                £270,000
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                Cold weather period and trigger type
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-half">
                {{period1}} (forecasted)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Weather stations triggered
              </dt>
              <dd class="govuk-summary-list__value">
                  2
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{listStations}}">
                  View list<span class="govuk-visually-hidden"> of weather stations</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcodes affected
              </dt>
              <dd class="govuk-summary-list__value">
                7
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="{{listPostcodes}}">
                  View list<span class="govuk-visually-hidden"> of postcodes</span>
                </a>
              </dd>
            </div>

          </dl>

          <div class="govuk-summary-card__title-details-box ">
            {% include "v2/includes/scanDates1.html" %}
          </div>
          
        </div>
      </div>
