{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
     Beta draft designs
    </h2>

    <p class="govuk-body">W/C Wednesday 1 November 2023</p>
    <p class="govuk-body">Current prototype version: 14</p>

    <p class="govuk-body"><a href="ready-for-dev" >See baselined designs ready for development</a></p>


      <a href="/v14/check-cold-weather-payments/about-this-service-A1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Go to landing page
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>

        <h2 class="govuk-heading-m">
          Changes
        </h2>

        <ul class="govuk-list govuk-list--bullet">          
          <li>
          Search journey iterations
        </li>          
        <li>
          Multiple seasons in search
        </li>
        </ul>


    <!-- <h2 class="govuk-heading-m">
      All pages (Choose your page variation)        
    </h2> -->

    <!-- <div class="govuk-inset-text">
      Journey routing not available on all page variations. For quick view only.
    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Daily view variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/v11/check-cold-weather-payments/todays-trigger-data-D1" class="govuk-link">D1</a> Today: no triggers
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/todays-trigger-data-D2a" class="govuk-link">D2a</a> Today: forecasted triggers
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/todays-trigger-data-D2b" class="govuk-link">D2b</a> Today: forecasted and recorded triggers
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/todays-trigger-data-D3" class="govuk-link">D3</a> Today: non-working day
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/todays-trigger-data-D4" class="govuk-link">D4</a> Today: next working day
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/todays-trigger-data-D5" class="govuk-link">D5</a> Today: data not ready
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/the-season-has-ended-DW6" class="govuk-link">DW6</a> Today: season has ended
          </li>
        </ul>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Weekly view variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
       
          <li>
            <a href="/v11/check-cold-weather-payments/weekly-summary-W1" class="govuk-link">W1</a> Weekly summary: No triggers
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/weekly-summary-W2" class="govuk-link">W2</a> Weekly summary: With triggers
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/weekly-summary-W3">W3</a> Weekly summary: Start of season
          </li>
        </ul>
      </div>
    </details> -->

    <!-- <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Location list variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v11/location-lists/LW1-weather-daily">LW1: Daily weather station list, forecasted only</a>
          </li>
          <li>
            <a class="govuk-link" href="/v11/location-lists/LW2a-weather-daily-two-triggers">LW2a: Daily weather station list, forecasted and recorded</a>
          </li>
          <li>
            <a class="govuk-link" href="/v11/location-lists/LW2b-weather-daily-two-triggers">LW2b: Daily edge case - weather station triggers twice</a>
          </li>
          <li>
            <a class="govuk-link" href="/v11/location-lists/LP1-postcodes-daily">LP1: Daily postcode list, forecasted only</a>
          </li>
          <li>
            <a class="govuk-link" href="/v11/location-lists/LP2-postcodes-daily-two-triggers">LP2: Daily postcode list, forecasted and recorded</a>
          </li>


          <li>
            <a class="govuk-link" href="/v11/location-lists/LW3-weather-multiple-days">LW3: Weekly/Multiple day weather station list</a>
          </li>
          <li>
            <a class="govuk-link" href="/v11/location-lists/LP3-postcodes-multiple-days">LP3: Weekly/Multiple day postcode  list</a>
          </li>
          <li>
            <a class="govuk-link" href="/v11/location-lists/LP4-postcodes-weather-station-result">LP4: Weather station search result listing affected postcodes</a>
          </li>
        </ul>

      </div>
    </details> -->

    <!-- <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Search journey select (ref: S) <a href="/v11/check-cold-weather-payments/what-do-you-want-to-do" class="govuk-link">What do you want to do?</a>
          </li>
          <li>
            Search journey - Agent  (ref: S1) <a href="/v11/check-cold-weather-payments/citizen-location" class="govuk-link">Where does the citizen live?</a>
          </li>
          <li>
            Result page (ref: SR1) <a href="/v11/check-cold-weather-payments/payment-data-for-postcode" class="govuk-link">Citizen eligibility by postcode</a>
          </li>

          <li>
            Search journey - When (ref: S2a) <a href="/v11/check-cold-weather-payments/search-by-time-period" class="govuk-link">Select a time period</a>
          </li>
          <li>
            S2a - Errors <a href="/v11/check-cold-weather-payments/search/search-by-time-period-S2a-error-example-1" class="govuk-link">Example 1</a>
          </li>
          <li>
            S2a - Errors <a href="/v11/check-cold-weather-payments/search/search-by-time-period-S2a-error-example-2" class="govuk-link">Example 2</a>
          </li>
          <li>
            Search journey - Where (ref: S2b) <a href="/v11/check-cold-weather-payments/search-by-location" class="govuk-link">Select a location</a>
          </li>
          <li>
            Result page (ref: SR2) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR2" class="govuk-link">Single day, all locations (with AQDs)</a>
          </li>
          <li>
            Result page (ref: SR3a) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR3a" class="govuk-link">Date range, England and Wales</a>
          </li>
          <li>
            Result page (ref: SR3a-NI) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR3a-NI" class="govuk-link">Date range, Northern Ireland</a>
          </li>
          <li>
            Result page (ref: SR3b) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR3b" class="govuk-link">All season, England and Wales</a>
          </li>
          <li>
            Result page (ref: SR3b-NI) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR3b" class="govuk-link">All season,  Northern Ireland</a>
          </li>
          <li>
            Result page (ref: SR4a) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR4a" class="govuk-link">Date range, weather station</a>
          </li>
          <li>
            Result page (ref: SR4b) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR4b" class="govuk-link">All season, weather station</a>
          </li>
          <li>
            Result page (ref: SR5a) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR5a" class="govuk-link">Date range, postcode</a>
          </li>
          <li>
            Result page (ref: SR5b) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR5b" class="govuk-link">All season, postcode</a>
          </li>
          <li>
            Result page (ref: SR6) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR6" class="govuk-link">No results</a>
          </li>
          <li>
            Result page (ref: SR7) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR7" class="govuk-link">No results - Agent journey</a>
          </li>          
          <li>
            No trigger data (ref: SR8) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR8" class="govuk-link">No triggers this season</a>
          </li>
        </ul>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Whole service
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">          
          <li>
          <a href="/v11/check-cold-weather-payments/about-this-service-A1" class="govuk-link">A1</a> About this service
        </li>
          <li>
            <a href="/v11/check-cold-weather-payments/problem-with-the-service-7a" class="govuk-link">D7a</a> Problem with the service data view
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/service-unavailable-7b" class="govuk-link">D7b</a> Service unavailable
          </li>
          <li>
            <a href="/v11/check-cold-weather-payments/service-unavailable-7c">D7c</a> Service unavailable with timescale
          </li>
        </ul>
      </div>
    </details> -->



    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-m">
      About this prototype
    </h2>

    <p class="govuk-body">Fonts, headers and footers have been updated to represent guidance on <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk" class="govuk-link" target="blank">designing for internal users</a></p>

  </div>

  <nav class="sticky-div">

    <div class="govuk-grid-column-one-third">


    <ul class="moj-side-navigation__list">

      <li class="moj-side-navigation__item ">
        {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
      </li>
      <li class="moj-side-navigation__item ">
        <a href="ready-for-dev" >Baselined designs ready for development</a>
      </li>
      <li class="moj-side-navigation__item ">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/CWP/pages/133341971198/UCD+Private+Beta" target="blank" >Change log on Confluence</a>
      </li>

      <li class="moj-side-navigation__item ">
        <a href="versions" >Previous versions of this prototype</a>
      </li>


    </ul>
  </div>
  </nav>
</div>

{% endblock %}
