{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      Prototype: Check Cold Weather Payments
    </h1>
    <p class="govuk-body">Current prototype version being iterated: 15</p>



    <form class="form" action="" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
           What do you want to do?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="protoJourney" name="protoJourney" type="radio" value="baselines">
            <label class="govuk-label govuk-radios__label" for="protoJourney">
              See baselined designs ready for Development
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="protoJourney-2" name="protoJourney" type="radio" value="landing">
            <label class="govuk-label govuk-radios__label" for="protoJourney-2">
              View current WIP prototype (v15)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="protoJourney-3" name="protoJourney" type="radio" value="variations">
            <label class="govuk-label govuk-radios__label" for="protoJourney-3">
              Go to specific page variation of the stable prototype (v14)
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <button class="govuk-button govuk-body" data-module="govuk-button">
      Start
    </button>

    

      </form>

          
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

      <h3 class="govuk-heading-m">
        For wash up sessions
       </h3>

       <ul class="govuk-list govuk-list--bullet">          
        <li>
          <a href="/v15/check-cold-weather-payments/todays-trigger-data-D4" class="govuk-link">Monday 27th November triggers</a>
      </li> 
       </ul>

       
         
    
       <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <h3 class="govuk-heading-m">
          Beta draft design changes
         </h3>


        <ul class="govuk-list govuk-list--bullet">          
          <li>
          Search journey iterations
        </li> 
        <li>
          Search start <a href="/v14/check-cold-weather-payments/what-do-you-want-to-do" class="govuk-link">This year</a>
        </li>         
        <li>
          Search start <a href="/v14/check-cold-weather-payments/what-do-you-want-to-do-year-1" class="govuk-link">1 Previous season</a>
        </li>
        <li>
          Search start - Radios <a href="/v14/check-cold-weather-payments/what-do-you-want-to-do-year-2-radios" class="govuk-link">2+ Previous seasons</a>
        </li>
        <li>
          Search start - Date input <a href="/v14/check-cold-weather-payments/what-do-you-want-to-do-year-2-input" class="govuk-link">2+ Previous seasons</a>
        </li>
        </ul>






    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-m">
      About this prototype
    </h2>

    <p class="govuk-body">Fonts, headers and footers have been updated to represent guidance on <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk" class="govuk-link" target="blank">designing for internal users</a></p>

  </div>

  <nav class="sticky-div">

    <div class="govuk-grid-column-one-third">


    <ul class="moj-side-navigation__list">

      <li class="moj-side-navigation__item ">
        {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
      </li>
      <li class="moj-side-navigation__item ">
        <a href="ready-for-dev" >Baselined designs ready for development</a>
      </li>
      <li class="moj-side-navigation__item ">
        <a href="page-variations" >Specific page variations for UR</a>
      </li>
      <li class="moj-side-navigation__item ">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/CWP/pages/133341971198/UCD+Private+Beta" target="blank" >Change log on Confluence</a>
      </li>

      <li class="moj-side-navigation__item ">
        <a href="versions" >Previous versions of this prototype</a>
      </li>


    </ul>
  </div>
  </nav>
</div>

{% endblock %}
