{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
     Design in progress - Sprint 10
    </h2>
    <p class="govuk-body">9 Aug to 22 Aug 2023</p>
    <p class="govuk-body"><strong>Sprint goal:</strong> Explore future work to generate citizen value, and continue working on solutions off back of research findings. </p>


      <h2 class="govuk-heading-m">
        Northern Ireland options
      </h2>
      <ul class="govuk-list govuk-list--bullet">

        
        <li>         
          <a href="/v10/northern-ireland/D2c-daily-forecasted-NI-option1" class="govuk-link">  OPTION 1 - D2c: Today, Northern Ireland triggers, single view </a> 
        </li>   
        <li>         
          <a href="/v10/northern-ireland/D2c-daily-forecasted-NI-option2-ENG" class="govuk-link">  OPTION 2 - D2c: Today, Northern Ireland triggers, toggle  </a> 
        </li>  
        
        


        <!-- <li>         
          <a href="/v10/daily-views/D2c-daily-forecasted-NI-option3" class="govuk-link">  D2c: Today, with Northern Ireland triggers OPTION 3 tabs </a> 
        </li>   
        <li>
          <a class="govuk-link" href="/v10/weekly-views/w2b-week-with-triggers-NI-option1">W2b: Week with Northern Ireland triggers OPTION 1 single view</a>
        </li>
        <li>
          <a class="govuk-link" href="/v10/weekly-views/w2b-week-with-triggers-NI-option1-subs">W2b: Week with Northern Ireland triggers OPTION 1 with subheadings</a>
        </li>
        <li>
          <a class="govuk-link" href="/v10/weekly-views/w2b-week-with-triggers-NI-option3">W2b: Week with Northern Ireland triggers OPTION 3 tabs</a>
        </li>
        <li>         
          <a href="/v10/search/SR2b-single-day-all-locations-AQD-NI" class="govuk-link">  SR2b: Single day search result with AQDs and Northern Ireland triggers  </a> 
        </li>   
        <li>         
          <a href="/v10/search/SR3c-all-season-NI" class="govuk-link">  SR3c: All season search result - Northern Ireland  </a> 
        </li>   

        <li>         
          <a href="/v10/search/SR3c-all-season-NI" class="govuk-link">  SR3c: All season search result - Northern Ireland  </a> 
        </li>    -->


     
      </ul>


    <h2 class="govuk-heading-m">
      Postcode checker options
    </h2>
    <ul class="govuk-list govuk-list--bullet">  
      <li>         
        <a href="/v10/postcode-checker/PC1-where" class="govuk-link">  PC1: Where  </a> 
      </li>   
      <li>         
        <a href="/v10/postcode-checker/PC2-result-option1" class="govuk-link">  PC2: Postcode checker result - OPTION 1  </a> 
      </li>   
      <li>         
        <a href="/v10/postcode-checker/PC2-result-option2" class="govuk-link">  PC2: Postcode checker result - OPTION 2  </a> 
      </li>   

   
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">


    <h2 class="govuk-heading-m">
      Quick journey links
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/v10/daily-views/D1-daily-no-trigger" class="govuk-link">"No triggers today" </a> (ref: D1)
      </li>
      <li>
        <a href="/v10/daily-views/D2a-daily-forecasted" class="govuk-link">"There are forecasted triggers today" </a> (ref: D2a)
      </li>
      <li>
        <a href="/v10/daily-views/D2b-daily-forecasted-and-recorded" class="govuk-link">"There are forecasted and recorded triggers today" </a> (ref: D2b)
      </li>
      <li>
        <a href="/v10/weekly-views/w1-weekly-no-triggers" class="govuk-link">"There were no triggers this week" </a> (ref: W1)
      </li>
      <li>
        <a href="/v10/weekly-views/w2-week-with-triggers" class="govuk-link">"There were triggers this week" </a> (ref: W2)
      </li>
      <li>
        <a href="/v10/search/S-search-journey-select" class="govuk-link">"I want to search for trigger data"</a> (ref: S)           
      </li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-m">
      All pages        
    </h2>

    <div class="govuk-inset-text">
      Journey routing not available on all page variations. For quick view only.
    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Daily view variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v10/daily-views/D1-daily-no-trigger">D1: No trigger</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D2a-daily-forecasted">D2a: Working day with a forecasted trigger</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D2b-daily-forecasted-and-recorded">D2b: Working day with forecasted and recorded triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D3-daily-non-working-day">D3: Non-working day with triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D4a-daily-next-working-day">D4a: Next working day with triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D5-daily-data-not-ready">D5: Today's data not available yet</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/DW6-daily-out-of-season">DW6: Out of season</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D7a-daily-problem">D7a: There's a problem with the service (500 internal server error)</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D7b-daily-service-unavailable">D7b: Service unavailable (Shutter page)</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/daily-views/D7c-daily-service-unavailable">D7b: Service unavailable with timescale (Shutter page)</a>
          </li>
        </ul>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Weekly view variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v10/weekly-views/w1-weekly-no-triggers">W1: No trigger week</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/weekly-views/w2-week-with-triggers">W2: Week with triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/weekly-views/w3-week-season-start">W3: Start of season</a>
          </li>
        </ul>
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Location list variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v10/location-lists/LW1-weather-daily">LW1: Daily weather station list, forecasted only</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/location-lists/LW2a-weather-daily-two-triggers">LW2a: Daily weather station list, forecasted and recorded</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/location-lists/LW2b-weather-daily-two-triggers">LW2b: Daily edge case - weather station triggers twice</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/location-lists/LP1-postcodes-daily">LP1: Daily postcode list, forecasted only</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/location-lists/LP2-postcodes-daily-two-triggers">LP2: Daily postcode list, forecasted and recorded</a>
          </li>


          <li>
            <a class="govuk-link" href="/v10/location-lists/LW3-weather-multiple-days">LW3: Weekly/Multiple day weather station list</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/location-lists/LP3-postcodes-multiple-days">LP3: Weekly/Multiple day postcode  list</a>
          </li>
          <li>
            <a class="govuk-link" href="/v10/location-lists/LP4-postcodes-weather-station-result">LP4: Weather station search result listing affected postcodes</a>
          </li>
        </ul>

      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search variations
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Search journey select (ref: S) <a href="/v10/search/S-search-journey-select" class="govuk-link">What do you want to do?</a>
          </li>
          <li>
            Search journey - Agent  (ref: S1) <a href="/v10/search/S1-search-citizen" class="govuk-link">Where does the citizen live?</a>
          </li>
          <li>
            Result page (ref: SR1) <a href="/v10/search/SR1-citizen-postcode" class="govuk-link">Citizen eligibility by postcode</a>
          </li>

          <li>
            Search journey - When (ref: S2a) <a href="/v10/search/S2a-search-when" class="govuk-link">Select a time period</a>
          </li>
          <li>
            Search journey - When (ref: S2b) <a href="/v10/search/S2b-search-where" class="govuk-link">Select a location</a>
          </li>


          <li>
            Result page (ref: SR2) <a href="/v10/search/SR2-single-day-all-locations" class="govuk-link">Single day, all locations (with AQDs)</a>
          </li>
          <li>
            Result page (ref: SR3a) <a href="/v10/search/SR3a-range-all-locations" class="govuk-link">Date range, all locations</a>
          </li>
          <li>
            Result page (ref: SR3b) <a href="/v10/search/SR3b-all-season-all-locations" class="govuk-link">All season, all locations</a>
          </li>
          <li>
            Result page (ref: SR4a) <a href="/v10/search/SR4a-range-weather-station" class="govuk-link">Date range, weather station</a>
          </li>
          <li>
            Result page (ref: SR4b) <a href="/v10/search/SR4b-all-season-weather-station" class="govuk-link">All season, weather station</a>
          </li>
          <li>
            Result page (ref: SR5a) <a href="/v10/search/SR5a-range-postcode" class="govuk-link">Date range, postcode</a>
          </li>
          <li>
            Result page (ref: SR5b) <a href="/v10/search/SR5b-all-season-postcode" class="govuk-link">All season, postcode</a>
          </li>
          <li>
            Result page (ref: SR6) <a href="/v10/search/SR6-no-results" class="govuk-link">No results</a>
          </li>
          <li>
            Result page (ref: SR7) <a href="/v10/search/SR7-no-results-agent-journey" class="govuk-link">No results - Agent journey</a>
          </li>
        </ul>
      </div>
    </details>



    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-m">
      About this prototype
    </h2>

    <p class="govuk-body">Fonts, headers and footers have been updated to represent guidance on <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk" class="govuk-link" target="blank">designing for internal users</a></p>
    <p class="govuk-body">[Github setup test]</p>
  </div>

  <nav class="sticky-div">

    <div class="govuk-grid-column-one-third">


    <ul class="moj-side-navigation__list">

      <li class="moj-side-navigation__item ">
        {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
      </li>
      <li class="moj-side-navigation__item ">
        <a href="ready-for-dev" >Baselined designs ready for development</a>
      </li>
      <li class="moj-side-navigation__item ">
        <a href="https://dwpdigital.atlassian.net/l/cp/tRU0F12N" target="blank" >Change log on Confluence</a>
      </li>

      <li class="moj-side-navigation__item ">
        <a href="versions" >Previous versions of this prototype</a>
      </li>


    </ul>
  </div>
  </nav>
</div>

{% endblock %}
