{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "index"
}) }} 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-row">


    
  
    
  
      <nav class="sticky-div">


        <div class="govuk-grid-column-one-third">
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item ">
            <a href="#base3" >Baseline 3</a>
          </li>

          <li class="moj-side-navigation__item ">
            <a href="#base2" >Baseline 2</a>
          </li>

          <li class="moj-side-navigation__item ">
            <a href="#base1" >Baseline 1</a>
          </li>

  
         
        </ul>
      </div>
      </nav>
  

  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Baselined designs ready for development
    </h1>
    <h2 class="govuk-heading-l" id="base3">Baseline 3</h2>

    <p class="govuk-body">Changes include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Accessibility fixes (Beta prep, Sprint 14, Prototype version 13)</li>
  <li>Iterated search results (20 Sep to 3 Oct 2023, Sprint 13)</li>

</ul>


    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--orange">
        Changes to existing pages
      </strong>
    </td>
    <h3 class="govuk-heading-s">
     Search page changes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Result page (ref: SR1) <a href="/v13/check-cold-weather-payments/payment-data-for-postcode" class="govuk-link">Citizen eligibility by postcode</a>
      </li>
      <li>
        Result page (ref: SR2) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR2" class="govuk-link">Single day, all locations (with AQDs)</a>
      </li>
      <li>
        Result page (ref: SR6) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR6" class="govuk-link">No results</a>
      </li>
      <li>
        Result page (ref: SR7) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR7" class="govuk-link">No results - Agent journey</a>
      </li>
    </ul>
      <h3 class="govuk-heading-s">
        Back link updates
       </h3>
       <ul class="govuk-list govuk-list--bullet">
      <li>
        Weather station list, by single trigger day (ref: LW1) <a href="/v13/check-cold-weather-payments/view-triggered-weather-stations-on-14-02-2023F">Back link text change</a>
      </li>
      <li>
        Weather station list, by time period (ref: LW3) <a href="/v13/check-cold-weather-payments/view-triggered-weather-stations-between-03-02-2023-and-09-02-2023">Back link text change</a>
      </li>
      <li>
        Postcode list, by single trigger day (ref: LP1) <a href="/v13/check-cold-weather-payments/view-affected-postcodes-on-14-02-2023F">Back link text change</a>
      </li>
      <li>
        Postcode list, by time period (ref: LP3) <a href="/v13/check-cold-weather-payments/view-affected-postcodes-between-03-02-2023-and-09-02-2023">Back link text change</a>
      </li>
      <li>
        Additional qualifying day summary (ref: AQD1) <a href="/v13/check-cold-weather-payments/aqd-summary-A1">Back link text change</a>
      </li>
    </ul>

    <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--yellow">
        To be built
      </strong>
    </td>

    <ul class="govuk-list govuk-list--bullet">

      <li>
        Search journey - When (ref: S2a) <a href="/v13/check-cold-weather-payments/search-by-time-period" class="govuk-link">Select a time period</a>
      </li>
      <li>
        Search journey - Where (ref: S2b) <a href="/v13/check-cold-weather-payments/search-by-location" class="govuk-link">Select a location</a>
      </li>
      <li>
        Result page (ref: SR2) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR2" class="govuk-link">Single day, all locations (with AQDs)</a>
      </li>
      <li>
        Result page (ref: SR3a) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR3a" class="govuk-link">Date range, England and Wales</a>
      </li>
      <li>
        Result page (ref: SR3a-NI) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR3a-NI" class="govuk-link">Date range, Northern Ireland</a>
      </li>
      <li>
        Result page (ref: SR3b) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR3b" class="govuk-link">All season, England and Wales</a>
      </li>
      <li>
        Result page (ref: SR3b-NI) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR3b" class="govuk-link">All season,  Northern Ireland</a>
      </li>
      <li>
        Result page (ref: SR4a) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR4a" class="govuk-link">Date range, weather station</a>
      </li>
      <li>
        Result page (ref: SR4b) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR4b" class="govuk-link">All season, weather station</a>
      </li>
      <li>
        Result page (ref: SR5a) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR5a" class="govuk-link">Date range, postcode</a>
      </li>
      <li>
        Result page (ref: SR5b) <a href="/v13/check-cold-weather-payments/search-previous-data-results-SR5b" class="govuk-link">All season, postcode</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Whole service
     </h3>

     <ul class="govuk-list govuk-list--bullet">          
      <li>
      <a href="/v11/check-cold-weather-payments/about-this-service-A1" class="govuk-link">A1</a> About this service
    </li>
    </ul>

   
    <h2 class="govuk-heading-l" id="base2">Baseline 2</h2>
    <p class="govuk-body"> Northern Ireland updates to all views - 23 Aug to 5 Sep 2023 (Sprint 11)</p>

    <p class="govuk-body"><a href="https://dwpgovuk.sharepoint.com/:x:/r/sites/ext-rbc/Shared%20Documents/Cold%20Weather%20Payments/Content/Baseline%20docs/Baseline%20documentation%202.xlsx?d=w7941adc7dc634cb493fc9247b4d82f16&csf=1&web=1&e=Rd8lwe" target=blank class="govuk-link">
      Baseline 2 documentation</a> on Sharepoint</p>

    <h3 class="govuk-heading-s">
      Daily view variations
     </h3>

     <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/v11/check-cold-weather-payments/todays-trigger-data-D1" class="govuk-link">D1</a> Today: no triggers
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/todays-trigger-data-D2a" class="govuk-link">D2a</a> Today: forecasted triggers
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/todays-trigger-data-D2b" class="govuk-link">D2b</a> Today: forecasted and recorded triggers
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/todays-trigger-data-D3" class="govuk-link">D3</a> Today: non-working day
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/todays-trigger-data-D4" class="govuk-link">D4</a> Today: next working day
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/todays-trigger-data-D5" class="govuk-link">D5</a> Today: data not ready
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/the-season-has-ended-DW6" class="govuk-link">DW6</a> Today: season has ended
      </li>
    </ul>


    <h3 class="govuk-heading-s">
      Weekly view variations
     </h3>

     <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/v11/check-cold-weather-payments/weekly-summary-W1" class="govuk-link">W1</a> Weekly summary: No triggers
      </li>

      <li>
        <a href="/v11/check-cold-weather-payments/weekly-summary-W2" class="govuk-link">W2</a> Weekly summary: With triggers
      </li>

      <li>
        <a href="/v11/check-cold-weather-payments/weekly-summary-W3">W3</a> Weekly summary: Start of season
      </li>

    </ul>


    <h3 class="govuk-heading-s">
      Search pages to be built first
     </h3>

     <ul class="govuk-list govuk-list--bullet">
      <li>
        Search journey select (ref: S) <a href="/v11/check-cold-weather-payments/what-do-you-want-to-do" class="govuk-link">What do you want to do?</a>
      </li>
      <li>
        Search journey - Agent  (ref: S1) <a href="/v11/check-cold-weather-payments/citizen-location" class="govuk-link">Where does the citizen live?</a>
      </li>
      <li>
        Result page (ref: SR1) <a href="/v11/check-cold-weather-payments/payment-data-for-postcode" class="govuk-link">Citizen eligibility by postcode</a>
      </li>

      <li>
        Result page (ref: SR7) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR7" class="govuk-link">No results - Agent journey</a>
      </li>

      <br>

      <li>
        <strong class="govuk-tag">
          First season only
        </strong> Search journey - When (ref: S2a) <a href="/v11/check-cold-weather-payments/search-by-time-period-single-only" class="govuk-link">Single Option - Day only</a> 
      </li>

      <li>
        S2a - Errors <a href="/v11/check-cold-weather-payments/search/search-by-time-period-S2a-error-example-1" class="govuk-link">Example 1</a>
      </li>
      <li>
        S2a - Errors <a href="/v11/check-cold-weather-payments/search/search-by-time-period-S2a-error-example-2" class="govuk-link">Example 2</a>
      </li>
      <li>
        Result page (ref: SR2) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR2" class="govuk-link">Single day, all locations (with AQDs)</a>
      </li>
      <li>
        Result page (ref: SR6) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR6" class="govuk-link">No results</a>
      </li>

      <li>
        No trigger data (ref: SR8) <a href="/v11/check-cold-weather-payments/search-previous-data-results-SR8" class="govuk-link">No triggers this season</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Whole service
     </h3>

     <ul class="govuk-list govuk-list--bullet">          
      <li>
        <a href="/v11/check-cold-weather-payments/problem-with-the-service-7a" class="govuk-link">D7a</a> Problem with the service data view
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/service-unavailable-7b" class="govuk-link">D7b</a> Service unavailable
      </li>
      <li>
        <a href="/v11/check-cold-weather-payments/service-unavailable-7c">D7c</a> Service unavailable with timescale
      </li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">


    <h2 class="govuk-heading-l" id="base1">Baseline 1</h2>

    <p class="govuk-body"><a href="https://dwpgovuk.sharepoint.com.mcas.ms/:x:/r/sites/ext-rbc/_layouts/15/Doc.aspx?sourcedoc=%7B96BC488E-E018-475F-AA39-D9FC4098A140%7D&file=Baseline%20documentation.xlsx&action=default&mobileredirect=true&cid=449709a6-4b4c-4c2f-9899-533e84a7d2d7" target=blank class="govuk-link">
      Baseline 1 documentation</a> on Sharepoint</p>

    <h3 class="govuk-heading-s">
      31 May to 14 June 2023 (Sprint 5)
    </h3>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Daily view variations 
         <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--green">
            Built
          </strong>
        </td>
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v8/daily-views/D1-daily-no-trigger">D1: No trigger</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D2a-daily-forecasted">D2a: Working day with a forecasted trigger</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D2b-daily-forecasted-and-recorded">D2b: Working day with forecasted and recorded triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D3-daily-non-working-day">D3: Non-working day with triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D4a-daily-next-working-day">D4a: Next working day with triggers</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D5-daily-data-not-ready">D5: Today's data not available yet</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/DW6-daily-out-of-season">DW6: Out of season</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D7a-daily-problem">D7a: There's a problem with the service (500 internal server error)</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D7b-daily-service-unavailable">D7b: Service unavailable (Shutter page)</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/daily-views/D7c-daily-service-unavailable">D7b: Service unavailable with timescale (Shutter page)</a>
          </li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-s">
      14 June to 27 June 2023 (Sprint 6)
    </h3>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Location list variations
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Built
            </strong>
          </td>
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v8/location-lists/LW1-weather-daily">LW1: Daily weather station list, forecasted only</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/location-lists/LW2a-weather-daily-two-triggers">LW2a: Daily weather station list, forecasted and recorded</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/location-lists/LW2b-weather-daily-two-triggers">LW2b: Daily edge case - weather station triggers twice</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/location-lists/LP1-postcodes-daily">LP1: Daily postcode list, forecasted only</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/location-lists/LP2-postcodes-daily-two-triggers">LP2: Daily postcode list, forecasted and recorded</a>
          </li>


          <li>
            <a class="govuk-link" href="/v8/location-lists/LW3-weather-multiple-days">LW3: Weekly/Multiple day weather station list</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/location-lists/LP3-postcodes-multiple-days">LP3: Weekly/Multiple day postcode  list</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/location-lists/LP4-postcodes-weather-station-result">LP4: Weather station search result listing affected postcodes</a>
          </li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-s">
      12 July to 25 July 2023 (Sprint 8)
    </h3>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Weekly view variations
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Built
            </strong>
          </td>
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/v8/weekly-views/w1-weekly-no-triggers">W1: No trigger week</a>
          </li>
          <li>
            <a class="govuk-link" href="/v8/weekly-views/w2-week-with-triggers">W2: Week with triggers</a>
          </li>
        </ul>
      </div>
    </details>



    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">



    

  </div>
  </div>
</div>

{% endblock %}
