{% extends "layouts/main.html" %}


{% block pageTitle %}
Legacy payment scan summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container  nav-left">
      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{daily}}">
          Today
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
            Today
          </button>
      </li>
      <li class="app-navigation__list-item nav-active ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{weekly}}">
          This week
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
            This weej
          </button>
      </li>

      <li class="app-navigation__list-item ">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="{{search}}">
          New search
        </a>

          <button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
            New search
          </button>

      </li>
  </ul>
</nav>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Cold Weather Payment summary for this week's legacy payment scan</h1>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body govuk-!-margin-bottom-3">There were Cold Weather Payment triggers between Friday 3 February and Thursday 9 February.</p>


    <!-- <div id="passport-issued-hint" class="govuk-hint">
      Last updated on <strong>Thursday 16 February.</strong> This page will be updated every Thursday to show a summary of the previous week
    </div> -->

    <div class="govuk-inset-text">
      <p class="govuk-body">This page was last updated on <strong>Thursday 9 February.</strong> This page will be updated every Thursday to show a summary of the previous week.</p>
    </div>

    <!-- <h2 class="govuk-heading-m">Data for the scan</h2> -->
    
        <h2 class="govuk-heading-m" id="overview">Overview for the week</h2>
    
        <div class="card--wrapper">
    
          <div class="card">
            <div class="card__inner">
              <h2>Trigger days</h2>
              <p class="card__visual">2</p>
              <p><a href="#breakdown" class="govuk-link">View data by trigger day</a></p>
            </div>
          </div>
          <div class="card">
            <div class="card__inner">
              <h2>Cold weather periods</h2>
              <p class="card__visual">2</p>
              <p>1 forecasted, 1 recorded</p>
            </div>
          </div>
          <div class="card">
            <div class="card__inner">
              <h2>Estimated payments to citizens (except UC)</h2>
              <p class="card__visual">32,800</p>
              <p>[some explanation]</p>
    
            </div>
          </div>
          <div class="card">
            <div class="card__inner">
              <h2>Estimated total amount paid to citizens (except UC)</h2>
              <p class="card__visual">£820,000</p>
    
            </div>
          </div>
          <div class="card ">
            <div class="card__inner">
              <h2>Weather stations triggered</h2>
              <p class="card__visual">278</p>
              <p><a href="{{listStations}}" class="govuk-link">View list</a></p>
            </div>
          </div>
          <div class="card ">
            <div class="card__inner">
              <h2>Postcodes affected</h2>
              <p class="card__visual">278</p>
              <p><a href="{{listPostcodes}}" class="govuk-link">View list</a></p>
            </div>
          </div>
    
    
        </div>
    
        <!-- <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--l" id="breakdown">Data by trigger day</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Trigger day</th>
                    <th scope="col" class="govuk-table__header">Cold weather period and trigger type</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">Saturday 10 December 2022</td>
                    <td class="govuk-table__cell">10 Dec 2022 to 16 Dec 2022 (forecasted)</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">Friday 9 December 2022</td>
                    <td class="govuk-table__cell">2 Dec 2022 to 8 Dec 2022 (recorded)</td>
                  </tr>
                </tbody>
              </table> -->
    
    
        <h2 class="govuk-heading-m govuk-!-padding-top-6" id="breakdown">Data by trigger day</h2>
    
        <!--CARD 1-->
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Trigger day: Saturday 10 December 2022</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Estimated payments to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  16,400
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £410,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">
                  10 Dec 2022 to 16 Dec 2022 (forecasted)
                </dd>
              </div>
            </dl>
    
            <div class="govuk-summary-card__title-details-box ">
              <details class="govuk-details " data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    When are benefit systems scanned and citizens paid?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">The following systems will be scanned on 16 December 2022:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit</li>
                    <li>Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and Employment and Support Allowance (ESA)</li>
                  </ul>
                  <p class="govuk-body">These citizens should be paid 3 working days later on 21 December 2022, unless they're eligible because they've got a child who is disabled.</p>
                  <p class="govuk-body">Citizens who've got a child who is disabled should be paid on 28 December, 3 working days after a scan of the Child Tax Credit System on 21 December.
                  </p>
                </div>
              </details>
            </div>
    
          </div>
        </div>
    
    
        <!--CARD 2-->
        <div class="govuk-summary-card ">
          <div class="govuk-summary-card__title-wrapper ">
            <h2 class="govuk-summary-card__title">Trigger day: Friday 9 December 2022</h2>
          </div>
          <div class="govuk-summary-card__content govuk-!-padding-bottom-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Estimated payments to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  16,400
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Estimated total amount paid to citizens (except UC)
                </dt>
                <dd class="govuk-summary-list__value">
                  £410,000
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                  Cold weather period and trigger type
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">
                  2 Dec 2022 to 8 Dec 2022 (recorded)
                </dd>
              </div>
            </dl>
    
            <div class="govuk-summary-card__title-details-box ">
              
    <details class="govuk-details " data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          When are benefit systems scanned and citizens paid?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">The following systems will be scanned on 16 December 2022:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Income Support Computer System (ISCS), for citizens on Income Support and Pension Credit</li>
          <li>Jobseeker's Allowance Payment System (JSAPS), for citizens on Jobseeker's Allowance (JSA) and Employment and Support Allowance (ESA)</li>
        </ul>
        <p class="govuk-body">These citizens should be paid 3 working days later on 21 December 2022, unless they're eligible because they've got a child who is disabled.</p>
        <p class="govuk-body">Citizens who've got a child who is disabled should be paid on 28 December, 3 working days after a scan of the Child Tax Credit System on 21 December.
        </p>
      </div>
    </details>
            </div>
    
          </div>
        </div>
    




  </div>
</div>





{% endblock %}

{% block footer %}
  {{ dwpFooter({
    meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "/v2/searchResultDateOnly",
      text: "Search result view"
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    }
    ]
    }
    }) }} 
{% endblock %}