<!-- Main layout file -->
{% extends "layouts/main.html" %}

<!-- Page title -->
{% block pageTitle %}
File not accepted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- Header including navigation -->
{% block header %}

{% include "v8/includes/header-nav.html" %}

{% endblock %}


<!-- Back link (if applicable) -->
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} 
{% endblock %}


<!-- MAIN CONTENT -->
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="somethingsNotRight">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            <h1 class="govuk-fieldset__heading">
              There is a problem
            </h1>

          </legend>

          <p class="govuk-body">
            Your file has errors and cannot be uploaded.
            </p>

            <ol class="govuk-list govuk-list--number">
              <li>Correct all the errors in the file.</li>
              <li>Upload the file again.</li>
            </ol>

            
            <h2 class="govuk-heading-m"> Errors found in [file name].CSV
            </h2>
            
            
            <table class="govuk-table"> 
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Cell</th>
            <th scope="col" class="govuk-table__header">Problem</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">A12</th>
            <td class="govuk-table__cell">Not a valid email address</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">B84</th>
              <td class="govuk-table__cell">Value must be 'Y' or 'N'</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">G30</th>
                <td class="govuk-table__cell">Cell cannot be empty</td>
                </tr>
            </tbody>
            </table>


        </fieldset>
      </div>

      
      <button type="submit" class="govuk-button govuk-!-margin-right-2">
        Upload the file again
      </button>

     

      </form>

    </div>
  </div>



{% endblock %}

{% block footer %}
  {{ dwpFooter({
    meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear prototype data"
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    },
    {
      href: "",
      text: ""
    }
    ]
    }
    }) }} 
{% endblock %}
